<div class="section section-g2s">
  <div class="section-title">
    <h1>GO 2 SPORT</h1>
  </div>
  <div class="section-container">
    <p>
      Afin de développer le sport dans le Finistère et permettre la pratique sportive au plus grand nombre.
    </p>
    <br>
    <p>
      Notre souhait est que, vous acteur <span class="value-text">GO 2 SPORT</span> prennent du plaisir en pratiquant une activité physique et que cela à un impact positif sur votre bien-être.
    </p>
    <div class="list-stickers">
      <!-- TODO: deal with svg animation -->
      <div class="sticker" :class="hoverSolidarity" @mouseover="isHoveredSolidarity = true" @mouseleave="isHoveredSolidarity = false">
        <div class="sticker-title">
          <h3>Solidarité</h3>
        </div>
        <div class="sticker-icon">
          <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="45"  />
          </svg>
          <svg class="icon icon-svg solidarity" viewBox="0 0 700 700">
            <path class="st0" d="M94.2,198.1c2.3-4.8,5.7-8.4,11.5-7.9c31.2,2.2,62.4,4.7,92.5,14c5.7,1.7,11.1,4.4,16.4,7.1
              c6.2,3.2,8.6,8.5,7.1,15.5c-0.4,1.8-0.4,3.6-0.7,6.1c2,0,3.6,0,5.2,0c25.1,0,50.3,0.1,75.4-0.1c2.7,0,5.9-1.1,8.1-2.8
              c15.9-11.6,33.1-19,53.4-16.8c12.6,1.3,24.2,5.8,35.7,10.6c17.7,7.5,35.6,14.7,53.4,22.1c1.5,0.6,3.1,1.1,4.7,1.6
              c0-9.8,1.6-12.1,10.8-15.6c28.5-11,58.2-16.2,88.5-18.7c11.8-1,23.6-1,35.4-1.8c6.5-0.4,11.3,1.8,14.2,7.7c0,65.9,0,131.9,0,197.8
              c-2.9,5.9-7.8,7.9-14.2,7.8c-18.6-0.2-37.3-0.1-55.9-0.1c-10.6,0-12.8-1.7-15.9-11.9c-0.5-1.6-1.1-3.1-1.9-5.5
              c-5.3,3.6-10.4,6.9-15.3,10.5c-0.8,0.6-0.9,2.3-0.9,3.5c0.9,20.5-12.1,35.7-32.6,38.4c-1.9,0.3-4.3,1.6-5.3,3.1
              c-9.3,14.7-22.8,20.8-39.8,19.7c-2.6-0.2-3.8,0.2-5.1,2.5c-8.7,15-27.6,23.9-42.9,18.5c-0.9-0.3-2.3-0.1-3.2,0.4
              c-12.3,7.7-25.2,7-38.5,3.4c-13.6-3.7-25.1-11.2-36-19.8c-26.3-20.6-53-40.8-78.7-62.1c-12.9-10.7-24.1-23.3-36.1-35.1
              c-0.5-0.5-1-0.9-2-1.9c-0.9,2.6-1.6,4.9-2.4,7.1c-1.7,4.9-5.2,7.7-10.5,7.7c-21.1,0-42.3,0-63.4,0c-5.4,0-8.3-3.3-11-7.3
              C94.2,330,94.2,264.1,94.2,198.1z M218.8,254.3c-9.8,36-19.4,71.3-28.8,106.6c-0.5,1.8-0.6,4.7,0.4,5.8
              c12.6,13.1,24.5,27,38.4,38.5c30.4,25,61.8,49,93.2,72.8c6.3,4.7,14.6,6.9,22.2,9.7c2.9,1.1,6.3,0.6,9.5,0.9c0.3-0.6,0.7-1.3,1-1.9
              c-10.9-10.5-21.8-21-32.5-31.5c-4.2-4.1-8.2-8.3-12-12.7c-4.1-4.7-3.7-10.8,0.5-14.8c4.1-4,10.3-3.9,14.8,0.3
              c1.5,1.4,2.8,2.9,4.2,4.3c16.2,16.1,32.3,32.1,48.5,48.2c4,3.9,8.5,4.1,13.3,1.8c4.9-2.3,8.3-5.9,10.7-11.8
              c-13.8-13.5-27.8-27.1-41.6-40.8c-3-2.9-5.9-5.9-8.4-9.2c-3.5-4.5-2.9-10.3,1-14c4-3.9,10.1-4,14.5-0.2c1.6,1.4,3,3.1,4.5,4.6
              c15.3,15.3,30.4,30.8,45.9,45.9c7,6.7,17.1,6,24.1-0.7c2.9-2.8,3.8-5,0.2-8.5c-19-18.8-37.8-38-56.6-57.1
              c-5.1-5.2-5.2-11.5-0.7-15.9c4.6-4.5,10.7-4.1,15.9,1.1c5.2,5.2,10.2,10.6,15.3,15.7c14.5,14.5,29,28.9,43.4,43.4
              c3,3,6.2,4.3,10.4,3c8.5-2.6,12.5-11,8.5-19c-2-4-4.5-7.9-7.6-11c-8.4-8.7-16.8-17.6-26-25.4c-28.1-24-56.6-47.5-85-71.1
              c-1.1-0.9-3.6-1-5.2-0.5c-5.2,1.7-10.2,4.2-15.4,5.6c-3.6,1-6.1,2.7-8.5,5.4c-14.9,17.2-33.4,24.2-55.9,18.2
              c-17-4.5-24.9-17.6-21.6-34.9c2.4-12.9,8.4-24.1,15.9-34.6c3.8-5.3,8.1-10.4,12.4-15.9C260.2,254.3,239,254.3,218.8,254.3z
               M492,398.9c5.7-3.8,11-7.5,16.5-11c2.3-1.5,2.5-2.9,1.6-5.3c-12.7-34.6-25.3-69.3-38.1-103.9c-0.6-1.6-2.2-3.4-3.8-4.1
              c-29.1-11.8-58.2-23.6-87.3-35.2c-16.3-6.5-32.8-8.4-48.5,1.3c-20.5,12.6-38.1,28.6-50.3,49.6c-3.5,5.9-5.5,12.7-7.7,19.3
              c-1.1,3.4-0.6,7.5,3.8,8.5c4.9,1.2,10.1,2.4,15.1,2.1c11-0.7,18.2-8,24.6-16.2c2.1-2.6,4.6-5.6,7.6-6.7c9.7-3.8,19.8-6.6,29.6-10.1
              c5.5-2,9.8-1,14.1,2.9c12.2,10.8,24.5,21.5,37,32C435.6,346.7,466.7,369.2,492,398.9z M482.6,249.1c1.6,3.6,3,6.7,4.3,9.7
              c19.2,45.9,35.5,92.8,50.8,140.1c1,3.2,2.2,4.5,5.8,4.4c12.1-0.3,24.3-0.1,36.5-0.1c1.4,0,2.8-0.3,4.2-0.4c0-56.8,0-113.1,0-169.9
              C549.5,233.8,515.9,238.3,482.6,249.1z M161.2,381.8c15.4-50.9,31.1-101.6,39.2-154.7c-27.7-9.5-56-12-84.6-14.8
              c0,56.7,0,113.1,0,169.6C130.9,381.8,145.6,381.8,161.2,381.8z"/>
            </svg>
        </div>
      </div>

      <div class="sticker top-off" :class="hoverShare" @mouseover="isHoveredShare = true" @mouseleave="isHoveredShare = false">
        <div class="sticker-title">
          <h3>Partage</h3>
        </div>
        <div class="sticker-icon">
          <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="45"  />
          </svg>
          <svg class="icon icon-svg share" viewBox="0 0 700 700">
            <path class="cls-1" d="M456.75,550.71c-4-8.83-13.84-12.05-23.24-7.34-21.69,10.86-44.62,17.33-68.8,18.43-54.85,2.49-101.32-16.55-139.74-55.62-2-2-2.49-3.17-.52-5.75C236.6,484.53,241,466.64,238,446.77c-5.72-37.83-44-64-81.16-55.28-32.84,7.76-54,36.49-52.61,71.58,1.66,43.47,45.75,74.45,87.06,61,3.54-1.15,5.31-.42,7.7,2.11q63.08,67,155.08,68.67a209,209,0,0,0,94.66-22.64C457.19,567.82,460.43,558.87,456.75,550.71Zm-285.44-56c-19.06,0-34.57-16.22-34.58-36.06,0-20.13,15.54-36.27,34.92-36.25,18.94,0,34.63,16.36,34.66,36.08C206.33,478.49,190.62,494.76,171.31,494.71Z"/>
            <path class="cls-1" d="M363.21,105.18c-34-.39-62.07,23.2-67.9,57.5-.56,3.31-1.87,4.49-4.77,5.35A165.73,165.73,0,0,0,265,178C205.81,206.77,167.27,253,148.77,316.06c-3.45,11.76,4.55,22.15,16.34,21.65,7.82-.32,12.68-5.16,15.68-14.87,18.16-58.71,55.67-99.46,113.08-121.77,3.74-1.45,5.32-.92,7.2,2.82,12.23,24.38,32.07,37.93,59.41,38.69,37.57,1,68.3-30.24,68.35-68.59C428.87,136.6,399.3,105.59,363.21,105.18Zm-2,104.88c-19.31-.22-34.76-16.58-34.6-36.65.15-19.88,16.08-35.8,35.59-35.58,19,.21,34.14,16.55,33.95,36.57C396,194.23,380.25,210.28,361.23,210.06Z"/>
            <path class="cls-1" d="M569.42,398.65c-1.39-.85-3.53-1-2.83-3.91,1.58-6.65.84-13.51,1.16-19Q567.12,312.42,535.1,260a210.51,210.51,0,0,0-37.64-45.94c-9.93-9.1-24.7-4.9-27.64,7.83-1.62,7,1.5,12.3,6.49,17.13,39.76,38.52,59.15,85.6,58.7,140.87-.08,9.34-.28,9.33-9.61,11-.5.09-1,.26-1.48.37-38.72,8.6-61.78,45.57-52.49,84.17,7.76,32.23,38.9,54.89,71.09,51.72,33.91-3.34,60.43-31.16,61.57-64.94C605,434.3,593.2,413.18,569.42,398.65Zm-32.31,96.06c-19.3.1-35.19-16.24-35.11-36.12.09-20.09,15.67-36.17,35.06-36.18,19,0,34.51,16.27,34.52,36.13S556.16,494.61,537.11,494.71Z"/>
          </svg>
        </div>
      </div>

      <div class="sticker" :class="hoverTolerance" @mouseover="isHoveredTolerance = true" @mouseleave="isHoveredTolerance = false">
        <div class="sticker-title">
          <h3>Tolérance</h3>
        </div>
        <div class="sticker-icon">
          <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="45"  />
          </svg>
          <svg class="icon icon-svg tolerance" viewBox="0 0 700 700">
            <path class="cls-1" d="M364.08,216.49v17.58c0,3-2,3-4.14,2.87-23.34-1-45,4.9-65.2,16.37-.29.17-.6.28-.9.43-3.12,1.58-5.94,5.83-9.08,4.61-2.66-1-4.1-5.31-6-8.21-4.31-6.65-8.57-13.34-12.85-20-1.32-2.06-2.53-2.78-4.8-.73-15.4,13.92-26.85,30.38-33,50.33-.49,1.59-1.16,3.12-1.73,4.68-1.81,4.94-6.46,7.65-10.86,6.33-5.47-1.63-8.46-6.65-6.87-12a179.09,179.09,0,0,1,30.29-59.33c7.43-9.54,7.86-20.52.52-30.12-1.89-2.49-1.37-3.34.88-4.85,10.88-7.3,22.51-13.19,34.41-18.59A5.23,5.23,0,0,1,279,166a38,38,0,0,0,43.23-11.24,9.49,9.49,0,0,1,7.08-3.63c9.94-.88,19.85-2.06,29.88-1.87a223.5,223.5,0,0,1,68.82,12.44c5.85,2,8.58,6.75,7.13,11.84-1.51,5.3-5.82,7.35-12.25,6.42a180.32,180.32,0,0,0-58.64.76c-3.75.69-7.48,1.68-11.21,2.24-10.1,1.5-17,10.1-14.69,21.94,1.73,9,11.39,14.42,21.71,12.39C361.38,217.07,362.65,216.79,364.08,216.49Z"/>
            <path class="cls-1" d="M349.49,504.5c0-5.69,0-11.32,0-16.95,0-2.49.94-3.5,3.58-3.46,26.52.4,51-6.45,73-21.39,2.7-1.83,3.37-.19,4.47,1.51,5.66,8.63,11.48,17.16,16.9,25.93,1.89,3.06,3.17,2.74,5.46.7a112.5,112.5,0,0,0,33.43-52.32c1.39-4.64,3.58-8.27,9.05-8.5,7-.29,11.25,5.3,9.26,12.29a175.45,175.45,0,0,1-30.51,59.58c-7.33,9.49-7.42,20.27.19,29.74,1.86,2.3,1.33,3-.75,4.36a219.77,219.77,0,0,1-34.21,18.44,6.84,6.84,0,0,1-5.22,0c-16.71-5.34-31.35-2-42.84,11.51-3.61,4.23-8.11,3.62-12.24,4.06a209.3,209.3,0,0,1-93.76-11.28c-3.69-1.32-6.49-3.34-7.06-7.52-.51-3.77.52-6.89,3.69-9.21,2.48-1.81,5.24-2,8.1-1.55a180.47,180.47,0,0,0,70.81-2.94c11.25-2.76,17.21-12,14.2-22.28-2.65-9.06-13.48-15.88-24-11.14A6.68,6.68,0,0,1,349.49,504.5Z"/>
            <path class="cls-2" d="M486,295c-5.67,2.87-11,5.52-16.3,8.3-1.83,1-2.73.86-3.82-1.15-12.74-23.54-31-41.37-55.18-53-2.34-1.14-2.17-2.19-1.18-4.12,4.78-9.32,9.32-18.76,14.22-28,1.57-3,1.29-4-2-5.12a113.11,113.11,0,0,0-61-3.08,26.29,26.29,0,0,1-5.41.8,8.86,8.86,0,0,1-9.09-7.58c-.76-5.15,1.84-9.41,6.84-10.62a170,170,0,0,1,36.46-5.1,182.64,182.64,0,0,1,31.85,1.82,22.8,22.8,0,0,0,24.7-14.54c1.29-3.29,2.34-3.36,5.14-1.9a238.35,238.35,0,0,1,31,19.05,9.53,9.53,0,0,1,4.25,6.78c2.36,14.32,14.48,26.81,28.86,29.69a15.67,15.67,0,0,1,10.33,6.66,214,214,0,0,1,38.38,87.24c.54,2.75,1.18,5.66,0,8.37-1.62,3.64-4.5,5.79-8.57,5.76-4.53,0-7.45-2.61-9-6.66A182.38,182.38,0,0,0,533,300.85a184.41,184.41,0,0,0-24.66-32.57c-8.18-8.69-19.11-9.08-26.66-.93-7.29,7.87-5.93,19.27,3.16,26.61C485.1,294.16,485.33,294.4,486,295Z"/>
            <path class="cls-3" d="M235.51,281c5.59,3.67,10.46,7.09,15.55,10.13,2.58,1.54,1.36,2.84.41,4.39a124.66,124.66,0,0,0-16.26,42,114.23,114.23,0,0,0-1.87,28.81c.26,4.37-.56,6.1-5.43,6.16-9.64.11-19.27,1.12-28.92,1.58-3.07.15-3.87.91-3.22,4.21,4.24,21.45,14.24,39.82,29,55.79,5.26,5.7,4.62,12.08-1.37,15.51-4.24,2.41-7.93,1.56-11.24-1.84a168.9,168.9,0,0,1-35.76-54.64c-5.22-12.81-13.3-18.12-27.13-16.54-2.84.33-3-.65-3-2.76,0-12.66-.68-25.31.94-37.94a9,9,0,0,1,3.09-5.93c13.31-12.12,17.05-27.23,10.81-43.78a5.79,5.79,0,0,1,0-4.72c13.17-32,32.74-59.44,59.21-81.85,4.94-4.18,10.07-4.38,13.83-.72s3.62,9-.35,13.94A184.43,184.43,0,0,0,201.24,275c-3.34,10.92,1.61,20.74,12.44,23.83,9.15,2.62,19-4,21.33-14.51C235.2,283.5,235.26,282.67,235.51,281Z"/>
            <path class="cls-2" d="M227.54,425.72c5.65-2.91,11-5.59,16.25-8.39,3.12-1.66,3.56.87,4.57,2.67a124.1,124.1,0,0,0,47.81,48.18c8.8,5,8.79,5,4.34,14-3.61,7.28-7.13,14.62-10.94,21.8-1.37,2.59-1.07,3.67,1.73,4.64A112,112,0,0,0,341,513.84c4.93-.56,9.79-1.76,14.7-2.55,4.48-.73,8.31.27,10.58,4.62a8.86,8.86,0,0,1-1.31,10.65c-3.26,3.7-8.16,3.65-12.41,4.47a177.94,177.94,0,0,1-61,1.43c-9.91-1.51-19.51,4.23-23.9,14.27-1.41,3.25-2.65,3.7-5.69,2.09a239.09,239.09,0,0,1-31.26-19.44,8.24,8.24,0,0,1-3.47-5.64c-3-16-14.7-27.6-30.8-30.63a10.53,10.53,0,0,1-6.95-4.24c-20.53-27.26-34.17-57.54-40.19-91.18-1.05-5.87,1.3-10.34,6.25-12,4.62-1.53,9.42,1,11.67,6.73a186,186,0,0,0,29.29,50.08c3.05,3.73,6.27,7.34,9.62,10.79,7.8,8,18.57,7.88,25.93-.16,6.84-7.47,5.85-18.81-2.23-25.68C229.16,427,228.51,426.48,227.54,425.72Z"/>
            <path class="cls-3" d="M477.93,439.59c-5-3.3-9.31-6.61-14.05-9.07-3.69-1.92-3-3.87-1.3-6.41a103.11,103.11,0,0,0,9.75-19.83,121.5,121.5,0,0,0,8-48.73c-.26-7.61-1.19-6.52,6.76-7.39,8.81-1,17.64-.79,26.45-1.08,4.55-.14,5.1-1.94,4.15-6A118.18,118.18,0,0,0,488,285.65a9,9,0,0,1,0-12.89c3.53-3.43,10-3.25,13.73.61a171.68,171.68,0,0,1,36.47,56.83c3.56,9,14.62,16,24.12,14.4,3.69-.64,4.61.44,5,3.81,1.6,12.88-.68,25.6-1.15,38.39-.07,2.05-1.66,2.82-2.81,3.84-13.23,11.73-16.68,26.07-11.27,42.63,1.55,4.73-.75,8.45-2.43,12.27-12.87,29.21-31.74,54-55.67,75-6.55,5.76-13.48,4.88-16.83-2-1.83-3.77-.28-6.76,1.92-9.6a202.71,202.71,0,0,0,24.19-39.32,150.71,150.71,0,0,0,10.22-28.82c1.26-5.47-1.34-10.92-5.66-14.64-4.52-3.89-9.89-6.2-16.1-4.22C483.58,424.56,478.9,430.14,477.93,439.59Z"/>
            <path class="cls-1" d="M292.68,160.52a30.56,30.56,0,0,1-30.36-30.4c0-16.38,14.18-30.66,30.38-30.6a30.78,30.78,0,0,1,30.53,30.84A30.27,30.27,0,0,1,292.68,160.52Z"/>
            <path class="cls-2" d="M554.44,189.91a30.13,30.13,0,0,1-30.32,30.39,30.46,30.46,0,1,1,30.32-30.39Z"/>
            <path class="cls-3" d="M95.13,300.28a30.06,30.06,0,0,1,30.68-30c16.64.11,30.5,14.18,30.25,30.69-.26,16.33-14.17,30.17-30.41,30.23A30.6,30.6,0,0,1,95.13,300.28Z"/>
            <path class="cls-2" d="M189,561.27c-16.71-.14-30-13.86-29.85-30.89a30.15,30.15,0,0,1,30.69-30c16.48.22,30.32,14.17,30.11,30.33A30.84,30.84,0,0,1,189,561.27Z"/>
            <path class="cls-1" d="M421.45,622.18c-16.72-.14-30-13.86-29.85-30.89a30.14,30.14,0,0,1,30.69-30c16.47.22,30.32,14.17,30.11,30.34A30.84,30.84,0,0,1,421.45,622.18Z"/>
            <path class="cls-3" d="M618.31,420.37c0,16.85-13.67,30.16-30.73,30.09-16.19-.06-29.87-14.55-29.78-30.21a30.54,30.54,0,0,1,30.32-30.71C604.4,389.43,619.12,403.68,618.31,420.37Z"/>
          </svg>
        </div>
      </div>

      <div class="sticker top-off" :class="hoverConviviality" @mouseover="isHoveredConviviality = true" @mouseleave="isHoveredConviviality = false">
        <div class="sticker-title">
          <h3>Convivialité</h3>
        </div>
        <div class="sticker-icon">
          <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="45"  />
          </svg>
          <svg class="icon icon-svg conviviality" viewBox="0 0 700 700">
            <path class="cls-1" d="M516.75,150c4.65-25.53-7-43.48-32-48.95-20.1-4.38-37.43,8.31-42.72,32.19-8.33,37.6-15.88,75.38-24.29,113-5.06,22.65-7.34,46.11-17.76,69.12-5.57-8.12-7.16-15.79-8.83-23.26C378.92,237.4,366.63,182.74,355,127.94c-6.08-28.61-23.2-43.73-46.73-39.51-24.42,4.38-36.66,23.4-32,52,7.3,44.45,15.24,88.8,23.41,133.1,1.75,9.45,1.8,13.55-10.29,13.68-20.08.21-37.62,7.62-45,28.57-2.23,6.31-6.24,6.26-11.28,7.18-28.92,5.24-41.78,20.29-41,49.81.72,27.47,8.09,54.34,8.13,82,0,21.65,4,42.91,9.86,63.69,12.85,45.55,37,82.32,83.23,99.72,37.16,14,75.54,15.63,113.73,4.53,67.92-19.72,109.69-95.89,91-169-10.76-42.2-18.13-83.84-11.5-127.51C495.54,267.26,506.08,208.63,516.75,150ZM291.16,303.5c8.69-.07,14.9,1.36,16.27,12.55,2.06,16.88,6.21,32.07.4,50.49-8.44,26.76,5.87,50.09,27.41,66.52,11.31,8.63,7.78,14,.23,20.79-14.67,13.14-33,9.25-43.25-10.36C277.8,415.91,268.59,386.3,261.6,356a111.54,111.54,0,0,1-3-17.71C257.05,315.27,267.86,303.89,291.16,303.5Zm-82.88,73.82c.17-24.49,7.39-33.85,25-37.71,5.38-1.18,8.33-1.19,9.51,5.19,7.6,41,18.89,80.76,41.26,116.52,4.58,7.31-1.58,8.91-5.55,10.86-12.71,6.26-27.78,2-38.58-11.5C219.61,435.2,210.33,405.5,208.28,377.32Zm259.08,177.1c-22.15,37.31-55,55.76-97.55,57.69-19,.87-38,.43-56.72-4.71-55-15.12-78.74-56.33-90.31-107.63-2.75-12.17-4.07-24.67-6.55-40.15,7.73,8.09,13.11,14.63,19.4,20.15,17.42,15.28,41.21,16.17,59,1.34,5.52-4.61,10.28-4.65,16.32-4,19.27,2,34.75-5,44.41-21.79,4.63-8.08,8.94-7.77,16.52-2.27-26,28.94-38.59,62-27.78,101.36,9.2-33.9,16.09-68.83,46.11-93.95,5,16.72,6.58,34.41,23.4,49.35-2.88-22.14-5.43-40.65-4.81-59.36.26-7.67-6.54-8.9-12.77-9.93-18.66-3.1-36.38-9.07-51.35-21a61.92,61.92,0,0,1-13.74-15.69c-7.18-11.51-14.34-25-5.3-37.32,7.69-10.5,20.72-3.44,30.7-.78,31.84,8.49,63.71,17.07,94.36,29.47,7.7,3.12,14.86,7.26,17.9,15.1C487.22,458.37,495.89,506.36,467.36,554.42Zm3.54-234.83c-3.24,20.69-3.56,41.84-5.25,63.29-34.58-14-70-27.19-106.79-32.73-25.39-3.82-32.11-15-35.6-37.83-9-58.88-20.83-117.32-31.16-176-3-17.28,4.07-28.47,18.16-31,14.75-2.66,22.93,3.8,27.16,22.54,12.89,57.09,25.41,114.27,38.43,171.33a91.12,91.12,0,0,0,8.91,23.75c8.54,15.36,22,15.22,30.05-.4,11.19-21.7,13.35-46,18.44-69.42,8.39-38.63,16.17-77.4,24.59-116,3.47-15.94,12.92-22.11,26.89-18.82,12.48,2.94,17.89,12.59,15.29,28C490.28,204,480,261.71,470.9,319.59Z"/>
            <circle class="cls-1" cx="306.08" cy="144.77" r="6.51"/>
            <circle class="cls-1" cx="325.6" cy="140.16" r="6.51"/>
            <path class="cls-1" d="M303.36,161s20.61,11.39,31.46-7.86C334.82,176.22,315.57,181.64,303.36,161Z"/>
            <circle class="cls-1" cx="466.59" cy="153.18" r="6.51"/>
            <circle class="cls-1" cx="486.22" cy="157.3" r="6.51"  />
            <path class="cls-1" d="M457.23,166.76S471.05,185.82,489,173C479.25,193.86,459.52,190.59,457.23,166.76Z"/>
          </svg>
        </div>
      </div>

    </div>
    <p>
      En mettant en avant la
      <span class="value-text" @mouseover="isHoveredSolidarity = true" @mouseleave="isHoveredSolidarity = false">solidarité</span>
      et le
      <span class="value-text" @mouseover="isHoveredShare = true" @mouseleave="isHoveredShare = false">partage</span>
      dans l'activité physique et sportive lors de nos interventions,
      nous favorisons la
      <span class="value-text" @mouseover="isHoveredTolerance = true" @mouseleave="isHoveredTolerance = false">tolérance</span>
      sur la progression et l'évolution de chacun en passant un moment
      <span class="value-text" @mouseover="isHoveredConviviality = true" @mouseleave="isHoveredConviviality = false">convivial</span> !
    </p>
  </div>
</div>
