.section-g2s{
  .section-container{
    position: relative;
    .list-stickers{
      margin: 75px 0 50px 0;
      width: 100%;
      .sticker{
        position: relative;
        width: 100%;
        margin: 15px 0;
        padding: 20px;
        border: none;
        transition: all 0.2s ease;
        cursor: pointer;

        .sticker-icon{
          @include sticker-icon;
          height: 150px;
          transform: scale($g2s-sticker-icon-scale);
        }
        .sticker-title{
          position: absolute;
          top: -20px;
          height: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:hover, &.hovered{
          transition: transform 0.1s ease;
          transform: scale(1.1);
          .sticker-icon{
            .icon{
              @include svg-hover;
            }
          }
        }
      }
    }
    .value-text{
      font-weight: bold;
      color: $c-primary;
      text-shadow: 0px 1px 1px $c-text-dark;
      cursor: pointer;
      transition: all 0.2s ease;

      &.hovered{
        font-size: $base-size-xl;
      }
    }
  }
}
@media only screen and ( min-width:350px){
  .section-g2s{
    .section-container{
      .list-stickers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .sticker{
          width: 50%;
        }
      }
    }
  }
}
@media only screen and ( min-width:1000px){
  .section-g2s{
    .section-container{
      .list-stickers{
        .sticker{
          width: 25%;
          position: relative;
          transform: translateY(25px);
          &:hover, &.hovered{
            transition: transform 0.1s ease;
            transform: translateY(25px) scale(1.1);
          }
        }
        .sticker.top-off{
          transform: translateY(-25px);
          &:hover, &.hovered{
            transition: transform 0.1s ease;
            transform: translateY(-25px) scale(1.1);
          }
        }
      }
    }
  }
}
@media only screen and ( min-width:1200px){
  .section-g2s{
    .section-container{
      .list-stickers{
        .sticker{
          width: 25%;
          transform: translateY(0);
          &:hover, &.hovered{
            transform: scale(1.1);
          }
        }
        .sticker.top-off{
          transform: translateY(0);
          &:hover, &.hovered{
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
