<div class="title-svg" (click)="goToSection()">
  <div class="list-svg list-svg-top">
    @if (isBienfaits()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-bien-etre />
      </div>
    }
    @if (isBienfaits()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-productivite />
      </div>
    }

    @if (isFormules()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-one-hour />
      </div>
    }
    @if (isFormules()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-materiel />
      </div>
    }
    @if (isActivites()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-fitness />
      </div>
    }
    @if (isActivites()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-combat />
      </div>
    }
    <!--
    <SvgFormation v-if="isFormation" />
    <SvgSuivi v-if="isSuivi" />
    <SvgCycles v-if="isAdaptation" /> -->
  </div>
  <div class="title">
    <app-dotted-line direction="left" />
    <h4>{{titleSvg.title}}</h4>
    <app-dotted-line direction="right" />
  </div>
  <div class="list-svg list-svg-bottom">
    @if (isBienfaits()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-rentabilite />
      </div>
    }
    @if (isBienfaits()) {
      <div class="title-svg-icon shifted">
        <app-svg-circle />
        <app-svg-entreprise />
      </div>
    }
    @if (isBienfaits()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-financier />
      </div>
    }
    @if (isFormules()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-deplacement />
      </div>
    }
    @if (isFormules()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-water />
      </div>
    }
    @if (isActivites()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-sport-co />
      </div>
    }
    @if (isActivites()) {
      <div class="title-svg-icon shifted">
        <app-svg-circle />
        <app-svg-raquettes />
      </div>
    }
    @if (isActivites()) {
      <div class="title-svg-icon">
        <app-svg-circle />
        <app-svg-outdoor />
      </div>
    }
    <!--
    <SvgFormation v-if="isFormation" />
    <SvgSuivi v-if="isSuivi" />
    <SvgCycles v-if="isAdaptation" /> -->
  </div>
</div>