@mixin button(){
  background-color: $c-primary;
  border-radius: 5px;
  padding: 10px;
  color: $c-text-light;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover{
    transform: translateY(-2px);
  }
}
