@mixin section-title(){
  @include backgroundImage($bkg-image: $background-image, $bkg-color: $background-color);
  height: $section-height;
  position: relative;
  h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include title-h1($color: $c-secundary-light, $size: $base-size-xxl);
  }
}

@mixin title-h1($color: $c-primary, $size: $base-size-xxxl, $margin-bottom: 20px){
  width: 100%;
  margin-bottom: $margin-bottom;

  font-family: "Norwester", sans-serif;
  font-size: $base-size-xl;
  line-height: 1.4;

  color: $color;

  text-shadow: 0px 1px 2px $c-text-dark;
  text-align: center;
  text-transform: uppercase;

  @media only screen and ( min-width:450px){
    font-size: $base-size-xxl;
  }
  @media only screen and ( min-width:650px){
    font-size: $size;
  }
}

@mixin title-h2($color: $c-primary, $size: $base-size-xxl, $margin-bottom: $margin-bottom-h2){
  @include title-h1($color: $c-primary, $margin-bottom: $margin-bottom);
  font-size: $base-size-l;

    @media only screen and ( min-width:450px){
      font-size: $base-size-xl;
    }
    @media only screen and ( min-width:650px){
      font-size: $size;
    }
}

@mixin title-h3($color: $c-primary, $size: $base-size-xl, $margin-bottom: $margin-bottom-h3){
  @include title-h1($color: $c-primary, $margin-bottom: $margin-bottom);
  font-size: $base-size-m;

    @media only screen and ( min-width:450px){
      font-size: $base-size-l;
    }
    @media only screen and ( min-width:650px){
      font-size: $size;
    }
}
