<template lang="html" src="./carousel-slide.html"></template>

<script>
export default {
  props: ['companie', 'index'],
  data() {
    return {
      classTranslate: false
    }
  },
}
</script>

<style lang="scss" src="./carousel-slide.scss"></style>
