.section-trust{
  .carousel{
    overflow-x: hidden;
    position: relative;
    transform: translateX(-50%);
    left: 50%;


    .carousel-content {
      position: relative;
      height: 240px;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}
