.section-see{
  &.section .section-title{
    margin-bottom: 0;
  }
  .see-nav{
    display: flex;
    flex-direction: column;

    .see-nav-item{
      position: relative;
      height: $see-nav-height;
      border-top: 1px solid $see-nav-border-color;
      border-bottom: 1px solid $see-nav-border-color;

      transition: box-shadow 0.3s ease-in-out;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
      background-size: cover;

      //TODO: Add the class active
      &:hover, &.router-link-active{
        box-shadow: none;
      }

      &.item-bienfaits{
        background-image: url($see-img-nav-path + "bienfaits.jpg");
      }
      &.item-activitees{
        background-image: url($see-img-nav-path + "activitees.jpg");
        background-position: right 0px bottom -11px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &.item-formules{
        background-image: url($see-img-nav-path + "formules.jpg");
      }

      .title{
        position: relative;
        height: 100%;
        h1{
          color: $c-text-light;
          text-transform: uppercase;
          position: absolute;
          margin: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .see-element-container{
      margin-top: $section-padding-tb;
      margin-bottom: $section-padding-tb;
    }
  }
}

@media only screen and ( min-width:650px){
  .section-see{
    .see-nav{
      display: flex;
      flex-direction: row;
      .see-nav-item{
        width: 33.33%;
        border-right: 1px solid $see-nav-border-color;
        &:first-child{
          border-left: 1px solid $see-nav-border-color;
        }
      }
      .title{
        h1{
          font-size: 30px;
        }
      }
    }
  }
}

@media only screen and ( min-width:650px){
  .section-see{
    .see-nav{
      .title{
        h1{
          font-size: 40px;
        }
      }
    }
  }
}
