*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a{
  color: inherit;
  cursor: pointer;
}
html, body{
  overflow-x: hidden;
  width: 100%;
}

body{
  position: relative;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
ul{
  list-style-type: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
}
button:focus{
  outline: none;
}
