.see-elt-activite{
  position: relative;
  width: $see-vignette-width;
  margin: $see-vignette-m-top-bottom auto;
  border: $vignette-border-width solid $see-vignette-h2-color;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;

  .vignette-text-title{
    display: flex;
    align-items: center;
    justify-content:space-around;

    h2{
      color: $see-vignette-h2-color;
      font-family: "Norwester", sans-serif;
      font-size: $base-size-m;
      text-shadow: 0px 1px 2px $see-vignette-h2-shade-color;
      text-transform: uppercase;
    }
    .see-nav-logo{
      margin-left: 20px;
      width: $see-icon-size;
      .icon-svg{
        @include svg($color: $c-primary);
      }
    }
  }

  .vignette{
    position: relative;
    display: flex;
    width: $see-vignette-width - 2*$vignette-border-width;
    height: $see-vignette-width / 2 - 1px;

    //transition: transform 0.1s;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px 0px 7px 7px;
    border-top: 1px solid $see-vignette-h2-color;

    .vignette-text{
      position: relative;
      width: 50%;
      height: 100%;
      padding: 8px;
      background: rgba(255,255,255,0.90);
      border-radius: 0px 0px 0px 7px;

      .txt-sports{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        p{
          font-style: italic;
          font-size: $base-size-s;
        }
      }
    }
    .slide-enter-active {
       transition-duration: 1s;
    }

    .slide-leave-active {
       transition-duration: 1s;
    }

    .slide-enter-to, .slide-leave {
       max-height: $see-vignette-width / 2 - $vignette-border-width ;
       overflow: hidden;
    }

    .slide-enter, .slide-leave-to {
       overflow: hidden;
       max-height: 0;
    }
  }

  @each $activity in $see-activity{
    .#{$activity}{
      background-image: url($see-img-path + "#{$activity}.jpg");
    }
  }

  &:hover{
    transform: scale($see-scale-up);
    .vignette-text-title{
      background-color: $see-vignette-h2-color;
      h2{
        color: $c-text-light;
      }
      .see-nav-logo{
        .icon-svg{
          @include svg-hover;
        }
      }
    }
  }

  @media only screen and ( min-width:650px){
    width: $see-vignette-width * 1.5;
    .vignette-text-title{
      h2{
        font-size: $base-size-xl;
      }
    }
    .vignette{
      width: ($see-vignette-width * 1.5) - 2*$vignette-border-width;
      height: ($see-vignette-width * 1.5) / 2 - 1px;
      .vignette-text{
        .txt-sports{
          p{
            font-size: $base-size-l;
          }
        }
      }
    }
  }

  @media only screen and ( min-width:850px){
    width: $see-vignette-width * 2;
    .vignette{
      width: ($see-vignette-width * 2) - 2*$vignette-border-width;
      height: ($see-vignette-width * 2) / 2 - 1px;
    }
  }
  @media only screen and ( min-width:1228px){
    width: $see-vignette-width * 1.5;
    .vignette{
      width: ($see-vignette-width * 1.5) - 2*$vignette-border-width;
      height: ($see-vignette-width * 1.5) / 2 - 1px;
    }
  }
}
