/**----------------------------- Section A propos -----------------------------**/
.section-about{
  .section-container{
    .about-div-img{
      margin: auto;
      max-width: 440px;
      .about-img{
        width: 100%;
        border-radius: 50%;
      }
    }
    .about-div-text{
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      &.title {
        position: relative;
        h2{
          margin-top: $margin-bottom-h2;
          font-family: "Norwester", sans-serif;
          font-size: 30px;
          line-height: 1.4;
          color: $c-primary;
          text-shadow: 0px 1px 2px $c-text-dark;
          text-align: center;
          span{
            text-transform: uppercase;
          }
        }
      }
      p{
        margin: 20px 0;
      }
    }
  }
}

@media only screen and ( min-width:650px){
  .section-container{
    .container-flex{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    h1{
      width: 100%;
    }
    .about-div-text.paragraph{
      width: 100%;
      margin: 20px auto;
    }
    .item-flex {
      width: 50%;
    }
  }
}
