@use "./../variables/variables-dir" as variables;

body {
  font-family: variables.$font-txt, sans-serif;
  scrollbar-color: variables.$c-primary variables.$c-secundary;

  &::-webkit-scrollbar-track {
    background: variables.$c-background-dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$c-primary;
  }
}