@use "./../variables/variables-dir" as _variables;

section,
.section {
  margin: 0;
  padding-bottom: _variables.$section-padding-tb;
  padding-left: _variables.$section-padding-lr;
  padding-right: _variables.$section-padding-lr;

  .section-container {
    width: 100%;
    padding: _variables.$section-container-padding-tb _variables.$section-container-padding-lr;
  }

  @media only screen and (min-width: _variables.$min-width-m) {
    .section-container {
      width: 75%;
      margin: auto;
    }
  }
}

.light-background {
  background-color: _variables.$c-background-light;
  color: _variables.$c-text-dark;
}
.dark-background {
  background-color: _variables.$c-background-dark;
  color: _variables.$c-text-light;
}
