<div class="ctn-vignette">
  <div class="vignette-text-title">
    <div class="activity-logo">
      @if (isFitness()) {
        <app-svg-fitness />
      }
      @if (isEntex()) {
        <app-svg-fitness />
      }
      @if (isCombat()) {
        <app-svg-combat />
      }
      @if (isSportCo()) {
        <app-svg-sport-co />
      }
      @if (isRaquette()) {
        <app-svg-raquettes />
      }
      @if (isOutdoor()) {
        <app-svg-outdoor />
      }
    </div>
    <h5>{{activity().title}}</h5>
  </div>
  <!-- <transition name="slide"> -->
  <div [class]="classVignette()" [style.height]="calcHeight()">
    <div class="vignette-text">
      <div class="txt-sports">
        @for (sport of activity().sports; track sport) {
          <div>
            <p class="small">{{sport.name}}</p>
          </div>
        }
      </div>
    </div>
  </div>
<!-- </transition> -->
</div>