<div class="see-elt">
  <h2>Nos formules</h2>
  <div class="list-stickers">
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45" />
        </svg>
        <svg class="icon icon-svg" viewBox="0 0 595.28 595.28">
          <path class="cls-1" d="M163.94,195.63q12.8,0,21-2.8a37.14,37.14,0,0,0,13.4-7.6,38.62,38.62,0,0,0,8.4-11.2,103.76,103.76,0,0,0,5.6-13.6h29.6v280h-44V226.83h-34Z"/>
          <path class="cls-1" d="M339.14,440.43h-44v-280h44v120h50v-120h44.8v280h-44.8v-120h-50Z"/>
        </svg>
      </div>
      <div class="sticker-txt">
        <h3>1 heure de séance</h3>
        <p>1 heure de séance d’activité physique et sportive</p>
      </div>
    </div>
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45"  />
        </svg>
        <svg class="icon icon-svg" viewBox="0 0 595.28 595.28">
          <path class="cls-1" d="M73,231.05c1.64-9.84,2.92-19.74,5.71-29.38a155.25,155.25,0,0,1,41.42-69.42,152.88,152.88,0,0,1,75.68-40.52c38.78-8.32,75.57-2.62,110.07,16.81,30.88,17.39,53,42.78,67,75.31a105.48,105.48,0,0,1,4.17,11.43c1,3.35,2.94,4.32,6.35,4.47,27.65,1.25,53,9.65,75.42,25.88,31.44,22.7,51,53.14,57.51,91.43,7.32,43.17-3.59,81.8-31.63,115.2-21.88,26.06-50.2,41.59-83.75,47.4a17.86,17.86,0,0,0-8.16,3.71c-27,20.84-57.18,34.72-90.92,40.26a264.46,264.46,0,0,1-56.74,2.76c-12.76-.67-25.43-1.56-37.95-4.22a201.89,201.89,0,0,1-79-35.84q-10.84-8-21.59-16.16c-13.32-10.14-14.34-25.55-2-36.92,15-13.84,29.6-28.26,47.1-39.11,3-1.84,6-3.56,8.94-5.39,1-.59,2.57-.81,2.56-2.07,0-1.54-1.79-1.69-2.9-2.22A151.23,151.23,0,0,1,113,348.85C91.91,325.48,79.22,298.1,74.56,267c-.4-2.71-1-5.39-1.52-8.09ZM257.58,511.27c13.75.05,25.46.06,37.15-1.66a189.34,189.34,0,0,0,61.31-20c16.61-8.79,31.21-20.57,46.12-31.86,5.07-3.83,5.36-8.42.85-12.88-4-4-8.25-7.73-12.42-11.54-11.89-10.87-24.07-21.37-38.09-29.5-33.44-19.39-69.32-28-108-25-28.74,2.25-55.25,11-80,25.58C146,415.3,130.78,430,115.26,444.38c-5.31,4.91-5.21,8.72.51,13.35,6.76,5.47,13.8,10.6,20.78,15.79a190.27,190.27,0,0,0,62.78,31.08A193.39,193.39,0,0,0,257.58,511.27Zm-49.12-406-.43.08a139.68,139.68,0,0,0-70,31.69c-2.63,2.2-1.67,3.65.26,5.57q43.85,43.79,87.57,87.67c2.29,2.29,3.81,2.3,6,0,5.62-5.85,11.35-11.61,17.22-17.2,2.39-2.28,2.53-3.72.25-6.35A153.52,153.52,0,0,1,215,136.93c-2-9.39-2.63-18.92-3.62-28.42C211.17,106.66,211,104.91,208.46,105.27Zm-84.13,46.25c-1.42.24-2.15,1.4-3,2.37A139.73,139.73,0,0,0,90.15,222.7c-.48,3.06.6,3.75,3.34,4,6.92.55,13.89,1,20.73,2.14,29,4.76,54.83,16.38,77.14,35.6,2.43,2.1,4.22,2.32,6.59-.16,5.6-5.87,11.37-11.59,17.2-17.23,2.17-2.1,2.14-3.59,0-5.72q-44.06-43.87-88-87.87C126.35,152.62,125.64,151.63,124.33,151.52ZM88.8,251.63c-.25,3,.45,6.37.87,9.82,3.32,27.51,14,51.78,31.63,73.14,2.54,3.08,3.92,2.42,6.33,0q26.15-26.42,52.58-52.53c3.18-3.12,2.72-4.74-.43-7.32-24-19.72-51.62-30-82.41-32.14C88.72,242,88.7,242.17,88.8,251.63ZM236.08,104a26.76,26.76,0,0,1-3.47,0c-4.09-.5-6,1-5.44,5.33.46,3.58.57,7.21,1,10.8,3.07,28.46,13.93,53.59,32.09,75.67,2.32,2.82,3.84,2.39,6.16,0,9.43-9.63,19-19.1,28.54-28.62q12.6-12.6,25.2-25.2c1.37-1.38,2.79-2.44.39-4.45C296.07,117,268,105.75,236.08,104Zm133.7,173.58c0-3-.22-6.11.05-9.12.35-3.91-1.11-6.37-4.4-8.6-11.62-7.88-23-16.1-34.52-24.18-2-1.43-4.28-2.84-4.9-5.33-.9-3.67-2.64-3.18-5.27-1.84a126.4,126.4,0,0,0-40.11,32c-2.12,2.54-1.9,3.92,1.05,5.12,4,1.65,6.28,4.76,7.81,8.79,3.43,9.07,7.21,18,10.72,27.07a8,8,0,0,0,4.88,5.06q11.78,4.5,23.4,9.38a6.5,6.5,0,0,0,6.86-.77c7.4-5.09,14.62-10.56,22.47-14.84C367.22,295.28,373,289,369.78,277.61ZM229,362.54l-.08-.55c-3.84-26.71-14.8-50.15-32.22-70.68-1.71-2-2.84-1.16-4.22.22q-27.69,27.71-55.41,55.36c-1.65,1.64-1.53,2.63.26,4.14a144.07,144.07,0,0,0,42.91,25.2c1.81.67,3.58,1.17,5.49.44a202.84,202.84,0,0,1,40.63-11.1C228.07,365.31,229.51,364.62,229,362.54Zm273.91-10.11c.14-5.51-.19-6.2-2.53-5.18-4.27,1.86-7.49.18-10.88-2.08-11.68-7.8-23.46-15.46-35.13-23.28-2.3-1.54-4.25-1.86-6.81-.58-5.05,2.51-10.23,4.77-15.41,7a7.17,7.17,0,0,0-4.36,5q-5.44,19.44-11.09,38.85a5.5,5.5,0,0,0,1.6,6.21c3.89,3.7,7.71,7.46,11.36,11.39a9.56,9.56,0,0,0,7.69,3.12c14.05-.09,28.11,0,42.16,0,3.36,0,6.38.5,8.25,3.67,1.13,1.91,2,1.77,3-.15A125.8,125.8,0,0,0,502.93,352.43Zm-117.5-77.21c0,5.74.07,9.66,0,13.56a5.8,5.8,0,0,0,2.88,5.41q15.2,10.11,30.27,20.4a5.89,5.89,0,0,0,6.47.54c5.36-2.55,10.72-5.12,16.17-7.47a9.09,9.09,0,0,0,5.61-6.55c3.77-13.83,7.81-27.59,11.75-41.37.86-3,1.85-6,4.9-7.33,2.3-1,2.09-1.84.5-3.28A129.18,129.18,0,0,0,433.3,228c-1.94-.94-3.29-1-3.9,1.44-.72,2.88-2.8,4.63-5.1,6.23-9,6.29-17.75,13.1-27.15,18.78C388.3,259.8,382.2,265.8,385.43,275.22Zm-8.09,95v0c6.37,0,12.74-.16,19.1.07,3.6.12,5.49-.94,6.46-4.65,2.84-10.77,6-21.46,9.18-32.14.92-3.1.34-5.11-2.47-6.94-9.6-6.21-19.1-12.58-28.56-19-2.33-1.58-4.26-1.8-6.7-.14q-14.72,10-29.62,19.76c-2.2,1.44-2.66,3-1.94,5.47q4.95,16.88,9.64,33.83c.81,2.92,2.49,3.83,5.36,3.77C364.31,370.17,370.82,370.26,377.34,370.26ZM362.11,198.78c-.17-.52-.34-1.07-.53-1.62-5.77-16.63-14.73-31.4-26-44.82-1.47-1.74-2.48-1.4-3.86,0Q304,180,276.34,207.62c-1.83,1.82-1.55,3,.24,4.57a186.7,186.7,0,0,0,15.33,11.4c2.72,1.9,4.73,1.78,7.35-.12A113.79,113.79,0,0,1,320,211.75a146.29,146.29,0,0,1,39.15-11.17C360.35,200.42,362,200.81,362.11,198.78ZM252.74,357c1.29,1.56-1,5.7,3.25,5.64,2.92,0,5.76.49,8.65.51,24.84.23,48.49,5.92,71.33,15.4,1,.44,2.21,1.4,3.25.62,1.34-1,.32-2.43,0-3.6-3.78-13.38-7.67-26.74-11.39-40.14a7.32,7.32,0,0,0-5-5.4c-7.06-2.65-14.07-5.43-21-8.42-3-1.27-4.92-.94-7.22,1.43-9.4,9.65-19,19.1-28.53,28.64-3.07,3.07-6.42,5-10.89,3.14C253.4,354.11,252.36,354.5,252.74,357Zm166.6,102.16a21.09,21.09,0,0,0,2.43-.41c23-8.32,41.44-22.71,56.43-41.81a4.61,4.61,0,0,0,.58-5.57c-1.17-2.23-2.48-3.73-5.26-3.72q-17.82.12-35.63,0a5.39,5.39,0,0,0-5.44,3.4c-4.2,8.58-8.52,17.11-12.8,25.66-.73,1.45-1.34,2.95-.75,4.58C421,447,422.14,452.72,419.34,459.19ZM502.78,327.4A122.33,122.33,0,0,0,498.62,306a126.86,126.86,0,0,0-17.18-36.34c-1.72-2.57-3.92-3.08-6.7-2.87s-3.13,2.23-3.69,4.18q-4.79,16.68-9.52,33.39c-.48,1.7-1,3.38.89,4.65,11,7.3,21.85,14.7,32.91,21.85C498.27,332.78,502.83,329.8,502.78,327.4Zm-266.53.86c1.66-3.2,1.18-5.59,1.54-7.84a141,141,0,0,1,11.78-39c1.42-2.95,1-4.93-1.4-7.18-5.5-5.16-10.81-10.52-16-16-2.23-2.34-3.83-2.86-6.32-.22-5.46,5.81-11.12,11.44-16.91,16.92-2.63,2.49-2.46,4.3-.19,6.9a148.17,148.17,0,0,1,19.49,28.71C231.11,316.08,233.38,321.84,236.25,328.26Zm141.33-113.7c-10.13.7-20.39,1.39-30.4,4.09a5.54,5.54,0,0,0-4.35,4.26c-.71,2.55,1.18,3.31,2.68,4.36,9.37,6.58,18.85,13,28.1,19.78,2.81,2,4.88,2.17,7.71.13,9.17-6.61,18.53-13,27.76-19.5,1.53-1.08,4-1.63,3.29-4.46s-2.19-4.08-4.94-4.75C397.66,216.09,387.72,215.18,377.58,214.56ZM353,385.21l-.41,1.15c1.57,1,3.12,2,4.71,2.89,5.63,3.28,11.16,6.71,16.45,10.53a258.66,258.66,0,0,1,29.07,24.73c3.76,3.68,4.29,3.54,6.69-1.23,3.12-6.2,6.14-12.47,9.36-18.63,1.2-2.3,1-3.95-.92-5.73q-5.37-5.07-10.45-10.44a10.24,10.24,0,0,0-8.11-3.33c-11.58.11-23.16.05-34.75.06Zm-100.67-55a10.89,10.89,0,0,1-.14,1.72c-.6,2.49-.33,4.35,2.38,5.68s4-.09,5.57-1.67c7.95-8,15.95-16,23.9-24,1.18-1.19,2.93-2.23,2.08-4.35-3.59-9-7-18.09-10.95-26.91-1.89-4.19-5.86-4-8.08,0A121.24,121.24,0,0,0,252.32,330.18Zm7.1-67.8a21.72,21.72,0,0,0,2.13-2.26,147.86,147.86,0,0,1,18.69-21.67c1.84-1.72,1.86-2.8-.28-4.34-4.8-3.47-9.51-7.1-14.1-10.84-1.93-1.56-3.37-1.8-5.2.06q-9.14,9.28-18.43,18.42c-1.67,1.64-1.92,2.95-.13,4.7,5,4.85,9.84,9.81,14.76,14.72A3,3,0,0,0,259.42,262.38Z"/>
          <path class="cls-1" d="M191.91,422.47c4.22,0,7,2.85,7.39,7.48.57,7.27.57,7.27,7.89,7.26.87,0,1.74-.06,2.61,0,2.91.23,4.31-.95,4.18-4a15.9,15.9,0,0,1,.48-5.16c1.12-3.77,3.73-5.88,7.78-5.51s6.18,2.82,6.65,6.81c.93,7.93.94,7.7,9.07,8,4.4.14,5.87-1.29,5.73-5.69-.18-5.46,2.95-9,7.24-9.13,4.46-.15,7.31,2.89,8.17,8.43.31,2-.92,5,1.67,5.81a21.2,21.2,0,0,0,11.15,0c1.28-.31,1.17-1.83,1.27-3a35.24,35.24,0,0,1,.53-5.16c.93-3.85,3.48-6.08,7.47-6,3.76.08,6.16,2.21,7,5.94a7.53,7.53,0,0,0,.2.85c.95,2.38-.84,5.79,1.74,7.27s6,.43,9,.59c2.55.12,3.66-1.08,3.72-3.63a25.59,25.59,0,0,1,.76-5.58,6.76,6.76,0,0,1,7-5.44c3.58,0,6.8,1.85,7,5.28.37,6.74,2.42,10.33,10,10.05,3.32-.13,5.37,3.39,5.29,6.94s-2.12,5.95-5.57,6.93a9.09,9.09,0,0,1-3.44.33c-4.16-.46-5.49,1.31-5.55,5.45-.11,7.8-6,11.71-11.62,8.13-2.94-1.87-3.82-4.9-3.66-7.92.26-4.88-2-6.12-6.29-5.62a24.3,24.3,0,0,1-3.91,0c-2.69-.14-4,1-4,3.78a23.09,23.09,0,0,1-.66,5.16c-.87,3.74-3.43,5.63-7.18,5.75s-5.87-2.07-7-5.37a23.9,23.9,0,0,1-.62-3c-.42-2,1-5-1.57-5.84a21.09,21.09,0,0,0-11.15,0c-1.29.3-1.21,1.8-1.34,3a36.65,36.65,0,0,1-.69,5.15c-1.09,4.18-4,6.33-7.81,6.1-3.55-.21-6.42-3.14-7-7.15-1.13-7.6-1.14-7.39-9-7.63-4.25-.13-6,1-5.83,5.57.23,6.12-2.54,9.22-7.29,9.24s-7.7-3.34-7.5-9.22c.15-4.54-1.57-6.08-5.83-5.52a23.71,23.71,0,0,1-3,0c-5.71,0-5.71,0-5.87,5.77-.17,5.95-2.83,9.06-7.68,8.95-4.54-.1-7.47-3.31-7.21-8.95.22-4.66-1.44-6.06-6-5.87-5.7.23-8.81-2.62-8.87-7.24s3.28-7.49,8.66-7.67c5.79-.2,5.79-.2,6.08-6.42C184.57,425.74,187.55,422.46,191.91,422.47Z"/>
        </svg>
      </div>
      <div class="sticker-txt">
        <h3>Matériel inclut</h3>
        <p>Du matériel mis à disposition par l’éducateur.</p>
      </div>
    </div>
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45"  />
        </svg>
        <svg class="icon icon-svg" viewBox="0 0 595.28 595.28">
            <path class="cls-1" d="M82.83,359.29c2.47-3.49,4.5-7.42,7.47-10.41Q141.6,297.27,193.23,246a20.86,20.86,0,0,1,9.45-5.66c9.89-2.2,18,4.9,18.2,15.51.2,11.75.05,23.49.06,35.24v10.19h5.67c53.41,0,106.83.21,160.24-.15,12.31-.09,19,8.16,18.23,18.31-.49,6.67-.09,13.4-.09,19.24L473.6,270l-68.39-68.4c0,.67-.21,1.83-.21,3,0,6.72.1,13.43-.06,20.14a15,15,0,0,1-13.31,14.85,29.14,29.14,0,0,1-4.17.3q-59.15,0-118.29,0a24.08,24.08,0,0,1-7.42-1,15.24,15.24,0,0,1,4.67-29.61c7.27-.18,14.54,0,21.81,0h85.82c.09-1.83.21-3.32.21-4.8,0-13.15.06-26.29,0-39.43,0-7.24,2.65-12.83,9.43-15.89,6.24-2.81,12.4-1.17,18.19,4.62Q454.23,206,506.58,258.32c7.8,7.81,7.82,16.44,0,24.23q-52.32,52.36-104.7,104.7c-5.81,5.81-11.95,7.44-18.18,4.7-7-3.1-9.55-8.87-9.49-16.24.09-13,0-26,0-39v-4.95H208.15c-12.28,0-17.92-5.66-17.93-17.95V294l-68.92,68.9,68.92,68.82V411.56c0-12.66,5.74-18.42,18.44-18.43q58.31,0,116.61,0a27.19,27.19,0,0,1,8.25,1.08,15.05,15.05,0,0,1,9.94,16.55,15.23,15.23,0,0,1-15.18,13c-13.56.12-27.12,0-40.68,0H220.94v4.88c0,13-.06,26,0,39,0,7.37-2.53,13.15-9.53,16.25-6.23,2.77-12.33,1.11-18.16-4.72Q141.06,427.1,88.92,374.83c-2.48-2.49-4.08-5.87-6.09-8.83Z"/>
        </svg>
      </div>
      <div class="sticker-txt">
        <h3>Nous venons a vous</h3>
        <p>Le déplacement de l’éducateur, qui vient animer la séance dans votre entreprise. </p>
      </div>
    </div>
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45"  />
        </svg>
        <svg class="icon icon-svg" viewBox="0 0 595.28 595.28">
          <path class="st4" d="M339.1,116c0.1,4.5-1.7,6-6.1,5.9c-10.7-0.2-21.4-0.1-32.1-0.1v0.1c-11.6,0-27.1-0.2-38.7,0
            c-4.4,0.1-6.2-1.5-6.1-5.9c0.2-10.7-0.2-21.4,0.1-32.1c0.3-11.5,6.7-17.3,18.3-17.3c15.3-0.1,7.8-0.1,23.1,0
            c15.3-0.1,7.8,0,23.1,0c11.6,0,17.9,5.9,18.3,17.3C339.3,94.6,339,105.3,339.1,116z"/>
          <path class="st4" d="M395.1,308.8c0.1-1.8-1.9-3.6-2.3-5.6c-0.6-2.5-1.6-5.6-0.6-7.6c7.7-16.5,6.3-33.3-0.5-49
            c-6.8-15.8-16-30.7-24.4-45.8c-4.4-7.9-9.5-15.4-14.6-22.9c-2.2-3.3-1.1-5.1,1.4-7.6c2.8-2.8,5.9-5.9,7.4-9.5
            c4.1-9.7-3.4-18.4-13.8-16.7c-2.2,0.4-4.5,0.3-6.8,0.3c-14.4,0-28.8,0-43.1,0c-14.4,0-28.8,0-43.1,0c-2.3,0-4.6,0.1-6.8-0.3
            c-10.4-1.7-17.9,6.9-13.8,16.7c1.5,3.6,4.5,6.7,7.4,9.5c2.5,2.4,3.6,4.3,1.4,7.6c-5.1,7.5-10.2,15-14.6,22.9
            c-8.5,15.1-17.6,29.9-24.4,45.8c-6.8,15.7-8.1,32.5-0.5,49c0.9,2-0.1,5.1-0.6,7.6c-0.4,1.9-2.4,3.8-2.3,5.6
            c0.8,13.3-3.3,26.9,3.2,39.8c0.8,1.7,1.2,4.5,0.4,5.9c-5.9,10.5-3.7,21.9-3.7,32.8c0,5.9,2.6,11.8,3.7,17.7
            c0.5,2.7,0.7,5.6,0.2,8.3c-0.8,5.1-2.8,10.1-3.2,15.2c-0.6,7.5-0.6,15-0.3,22.5c0.6,13.6,0.3,27.4,3,40.6
            c4.1,20.7,26.5,37.1,47.8,37.1c15.4,0,30.8,0,46.2,0c15.4,0,30.8,0,46.2,0c21.2,0,43.7-16.4,47.8-37.1c2.6-13.2,2.3-27,3-40.6
            c0.4-7.5,0.3-15.1-0.3-22.5c-0.4-5.1-2.4-10.1-3.2-15.2c-0.4-2.7-0.3-5.6,0.2-8.3c1.1-5.9,3.7-11.8,3.7-17.7
            c0-11,2.2-22.4-3.7-32.8c-0.8-1.5-0.4-4.3,0.4-5.9C398.4,335.7,394.3,322,395.1,308.8z M367.1,318.5c0,3.9-0.1,7.8,0,11.6
            c0.1,10.8-0.6,11.5-11.7,11.4c-11.4,0-22.8-0.1-34.2-0.2c-3.4,0-6.9,0-10.3,0.2c-7,0.4-11.9,4.3-11.9,9c0,5.2,6.4,10.9,12.9,11
            c8.2,0.1,16.4-0.2,24.6,0.1c7,0.3,14.1,0.6,20.9,2c2.5,0.5,4.5,4.1,6.6,6.4c0.3,0.3,0.1,0.9,0.2,1.3c2.2,21.2,1,22.3-20,22.7
            c-10.9,0.2-21.7,1.3-32.5,2.6c-3.1,0.4-6.6,2.3-8.8,4.7c-2,2.2-3.9,6.4-3.1,8.7c1,2.8,4.7,5.3,7.7,6.4c3.3,1.2,7.2,0.9,10.8,0.9
            c13.9,0.1,27.8,0,41.8,0c2.2,0,4.4,0.2,5.7,0.3c0,15.2,0,29.7,0,44.3c0,3.9-0.3,7.8,0,11.6c1.3,13.5-4.9,22.8-16.3,29
            c-2.4,1.3-5.6,1.7-8.5,1.7c-14.5-0.1-29-0.1-43.6-0.3c-14.5,0.1-29,0.2-43.6,0.3c-2.8,0-6-0.4-8.5-1.7
            c-11.4-6.2-17.6-15.5-16.3-29c0.4-3.8,0-7.8,0-11.6c0-14.5,0-29,0-44.3c1.3-0.1,3.5-0.3,5.7-0.3c13.9,0,27.8,0,41.8,0
            c3.6,0,7.6,0.3,10.8-0.9c3.1-1.1,6.7-3.6,7.7-6.4c0.8-2.3-1.1-6.5-3.1-8.7c-2.1-2.3-5.6-4.3-8.8-4.7c-10.8-1.3-21.7-2.4-32.5-2.6
            c-21-0.4-22.2-1.5-20-22.7c0-0.5-0.1-1.1,0.2-1.3c2.1-2.3,4.1-5.9,6.6-6.4c6.8-1.4,13.9-1.8,20.9-2c8.2-0.3,16.4,0,24.6-0.1
            c6.5-0.1,12.9-5.7,12.9-11c0-4.7-4.9-8.6-11.9-9c-3.4-0.2-6.8-0.2-10.3-0.2c-11.4,0-22.8,0.1-34.2,0.2c-11.1,0-11.8-0.7-11.7-11.4
            c0-3.9,0-7.8,0-11.6c0-10.1,0.1-10.2,10.4-10.2c15.1,0,30.1,0,45.2,0c4.7,0,9.3-1.5,10-6.4c0.5-3.8-0.4-8.6-2.5-11.6
            c-1.9-2.6-6.4-4.5-9.8-4.6c-14.1-0.5-28.3-0.2-42.4-0.4c-3.6,0-8,0.1-8.2-5.1c-0.6-12.5-1.3-25.1,6.1-36.4
            c10-15.2,19.2-31,29.8-45.9c15.8-22.2,11-21.9,30.9-21.2c19.9-0.7,15.1-0.9,30.9,21.2c10.6,14.8,19.8,30.7,29.8,45.9
            c7.4,11.3,6.7,23.8,6.1,36.4c-0.2,5.2-4.6,5-8.2,5.1c-14.1,0.2-28.3-0.2-42.4,0.4c-3.4,0.1-7.9,2-9.8,4.6c-2.2,3-3.1,7.9-2.5,11.6
            c0.7,4.9,5.3,6.4,10,6.4c15.1,0,30.1,0,45.2,0C367,308.2,367.1,308.4,367.1,318.5z"/>
        </svg>
      </div>
      <div class="sticker-txt">
        <h3>N'oubliez pas de vous hydrater</h3>
        <p>Mise à disposition d’une bouteille d’eau de 50cl.</p>
      </div>
    </div>
  </div>
</div>
