<div class="see-elt">
  <h2>Les bienfaits</h2>
  <div class="list-stickers">
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45"  />
        </svg>
        <svg class="icon icon-svg" viewBox="0 0 595.28 841.89">
          <path class="cls-1" d="M309.93,136.78c4.47,1.07,9,2,13.4,3.22,44.88,12.11,72.78,55.52,65.74,102.21-6.64,44-46.64,77-91.77,75.77-47.34-1.29-85.78-37.71-88.8-84.14-3.11-47.75,30-88.66,77.7-96.1a12.91,12.91,0,0,0,2.52-1Z"/>
          <path class="cls-1" d="M371.37,484.93c.9,9.74,1.51,18.39,2.66,27,.26,1.91,2.25,3.74,3.76,5.31q48.73,50.67,97.55,101.28c19.41,20.22,20.85,49.58,3.47,70.47-10.51,12.64-24.3,18.9-40.59,18.95-65.29.19-130.58.35-195.87.11-24.62-.09-43.86-20.53-44.93-46.46-1-25.19,16.78-47.29,40.92-49.5,12.19-1.12,24.53-.54,36.8-.59,18.59-.07,37.17,0,57.27,0-9.13-8.54-18.34-14.4-29.55-14.69-21.94-.56-43.92-.79-65.84.07-24.08.95-46.35,21.73-52,47.48-5,23,.06,43.5,16.17,61,.61.66,1.19,1.34,2.65,3H196c-13.4,0-26.79,0-40.18,0-22.67-.07-41.47-12.26-49.78-32.21s-3.65-41.71,12.38-58Q167.82,568,217.29,518a14.51,14.51,0,0,0,4.56-10.24c.38-7.22,1.31-14.4,2.11-22.67-2.31,1.59-3.93,2.65-5.5,3.79C183.71,514.14,149,539.5,114.19,564.59,94.18,579,67.83,572.8,57,551.54c-8.78-17.28-3.54-36.93,13.27-49.2,28.54-20.81,56.9-41.9,85.85-62.13,10.33-7.21,17.37-15.63,21.72-27.53,7.53-20.56,16.37-40.64,24.74-60.89,6.86-16.62,19.68-25.19,37.7-25.2q57.48-.06,115,0c17.65,0,30.58,8.65,37.32,24.94,10.07,24.37,20,48.82,30.12,73.14a17.79,17.79,0,0,0,5.62,7.19q47.67,35,95.57,69.63c16.19,11.78,22.17,28.32,16.39,45.19-8.47,24.72-37.6,33.52-59.44,17.76C452.5,544,424.29,523.34,396,502.79,388.09,497,380.15,491.29,371.37,484.93Z"/>
        </svg>
      </div>
      <div class="sticker-txt">
        <h3>Bien être au travail</h3>
        <p>Diminue le stress et la fatigue</p>
        <p>Augmente l'espérance de vie de 3 ans</p>
        <p>Retarde de 6 ans l'âge de dépendance</p>
      </div>
    </div>
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45"  />
        </svg>
        <svg class="icon icon-svg" viewBox="0 -17 575 830">
          <path d="M255.7,681.5c-1.1-0.9-2.8-1.6-3.1-2.7c-1-3.1-2.8-7-1.8-9.5s5.1-5.5,7.8-5.5c24.2-0.4,48.4-0.3,72.6-0.2 c4.4,0,7.2,2.4,8.5,6.6c1.7,5.5-1.8,8.5-5.5,11.4L255.7,681.5z"/>
        	<path
        		d="M294.8,645.4c-5.5,0-11,0-16.4,0c-16.3-0.1-27.9-10.2-28.7-26.4c-0.7-14.9-6.6-26.9-16.2-38.1 C196,537.2,213.1,471.5,267,451.1c48.3-18.2,102.6,14.9,108.7,66.2c2.9,24.6-3.9,46.1-20.2,64.6c-9.2,10.5-14.7,22-15.3,36.2 c-0.7,16.8-12.2,27.2-29,27.3C305.8,645.5,300.3,645.4,294.8,645.4z"/>
        	<path d="M285.6,405.3c0-4-0.2-8.1,0-12.1c0.3-6.2,4-10.3,9.1-10.4s9.1,4,9.3,10.1c0.3,8.3,0.3,16.5,0,24.8	c-0.2,6.4-3.8,10.2-9.1,10.2c-5.5,0.1-9.1-3.8-9.3-10.5C285.5,413.5,285.6,409.4,285.6,405.3z"/>
        	<path d="M198.2,421.4c3.3,1.9,6,2.8,7.9,4.6c6,5.7,11.9,11.6,17.6,17.5c4.3,4.4,4.5,10,0.8,13.7s-9.2,3.6-13.6-0.7	c-6.2-6-12.3-12.1-18.3-18.4c-2.8-2.9-3.9-6.7-1.7-10.2C192.5,425.5,195.4,423.8,198.2,421.4z"/>
        	<path d="M401.1,431c-1.9,3.3-2.8,6-4.6,7.9c-5.7,6-11.6,11.9-17.5,17.6c-4.5,4.3-9.9,4.5-13.6,0.8s-3.6-9.3,0.7-13.6	c5.9-6.1,11.9-12,18-18c3-3,6.9-4.4,10.6-2.1C397.1,425.2,398.8,428.3,401.1,431z"/>
        	<path d="M199.9,632.7c-7.6,0-12.9-7.9-8.7-13c6.9-8.2,14.5-15.8,22.5-22.9c3.3-2.9,7.8-1.9,11,1.5c3,3.1,3.9,7.5,1.1,10.6 c-7.1,7.8-14.8,15.1-22.4,22.4C202.4,632.3,200.5,632.4,199.9,632.7z"/>
        	<path d="M399.9,622.9c-0.1,7.9-8.3,12.7-13.6,8.2c-7.8-6.8-15.2-14.1-22-21.9c-3-3.3-2.1-7.8,1.1-11c3-3.1,7.4-4.2,10.5-1.4 c8,7.1,15.3,14.9,22.8,22.6C399.6,620.4,399.7,622.3,399.9,622.9z"/>
        	<path	d="M131.9,237.6c0-5.1-0.1-10.3,0-15.4c0.2-7.1,3.8-11.4,9.3-11.2c5.4,0.2,8.6,4.2,8.7,11.1c0.1,8.5-0.3,17,0.2,25.4 c0.3,3,1.5,5.9,3.4,8.2c3.3,4.1,7.5,7.5,11.1,11.4c4.1,4.4,4.2,9.6,0.7,13.2s-9,3.7-13.2-0.4c-5.8-5.5-11.7-10.9-16.7-17	c-2.2-2.7-3-7-3.4-10.6C131.5,247.5,131.9,242.5,131.9,237.6z"/>
        	<path	d="M564,236.3c-2-6.2-8.8-7.4-15.2-7.6c-1.8,0-4.4-1.3-5.1-2.8c-2.8-5.9-5-12-7.6-18.4c1.5-1.6,3.2-3.3,4.8-5.2	c5.4-6.4,5.7-14,0-20.2c-5.8-6.4-12-12.5-18.4-18.3c-5.2-4.8-13-6.1-17.4-1.4c-6.8,7.3-12.7,5.4-19.5,1.4c-1.4-0.8-2.9-1.4-4.4-1.6 c-4.3-0.7-5.4-3-5.3-7.3c0.1-10.4-6.1-16.3-16.5-16.3c-6.4,0-12.7,0-19.1,0c-13.5,0-18.4,4.8-19.1,18.3c-0.1,1.5-1.2,3.7-2.5,4.3 c-6.1,2.8-12.3,5.1-18.7,7.7c-0.9-0.9-2-1.8-3-2.8c-8.4-8.1-16.5-8.1-24.9,0.2c-3.7,3.6-7.3,7.2-10.9,10.9 c-11.9,11.9-12,17.3-0.5,29.8c0.3,0.4,0.5,0.8,0.7,1.2c-1.4,2.8-2.9,5.8-4.2,8.8c-1.3,3.1-2.1,6.4-3.6,9.4c-0.8,1.3-2.2,2.3-3.8,2.5	c-14,1.1-17,3.7-19.6,18.2h-62.8c-8.7,0-8.7,0-10.1-8.5c-10-59.4-58.4-100.2-118.7-99.9c-45.8,0.2-90.3,30.6-106.5,73.5	c-3.9,10.5-5.9,21.7-8.8,32.5v23.3c0.5,2.4,1,4.7,1.4,7.1c8.6,52,50.6,91.9,102.9,97.8c3.2,0.4,4.4,1.5,4.1,4.6	c-0.1,1.2-0.1,2.5,0,3.7c0,41.9,0,83.8,0,125.7c0,17.3,9.5,28.3,26.4,29.8c9.2,0.7,18.4,0.7,27.5,0.2c6.9-0.3,10.8-5.5,9.3-11.3
        	c-1.4-5.3-5.6-7-10.6-7c-7.1-0.1-14.1,0-21.2,0c-10.4,0-12.9-2.4-12.9-12.7c0-26.3,0-52.7,0-79c0-16.3,0.1-32.5-0.1-48.8 c0-3.6,1.1-4.7,4.7-5.3c8-1.3,16.1-2.5,23.7-5.3c45.4-16.8,71.9-49.3,79-97.3c0.5-3.6,1.5-4.8,5.2-4.8c21.6,0.1,43.1,0.1,64.7,0.1 c1,0,2,0.2,3,0.2c2.2,14,5.3,16.6,19.7,17.9c1.4,0.2,2.7,1,3.4,2.2c2.7,6.2,5.2,12.6,8,19.5c-1,0.7-1.9,1.4-2.7,2.2	c-8.6,8.7-8.6,16.5,0,25.2c3.6,3.6,7.5,7.1,10.8,10.9c10.3,11.8,20.5,11.3,29.9,0.3c0.2-0.2,0.5-0.3,0.8-0.5 c5.3,2.2,10.4,4.7,15.7,6.5c3.8,1.3,5.6,2.8,5.5,7.3c-0.2,10.3,5.4,15.8,15.8,16.7c0.7,0.1,1.3,0.3,1.9,0.5c0.1,1.1,0.2,2,0.2,2.9	c0,43.3,0,86.6,0,129.9c0,1.2-0.1,2.5-0.2,3.7c-0.6,4.2-3.2,6.6-7.3,7.3c-1.9,0.2-3.9,0.3-5.8,0.2c-7.3,0-14.5-0.2-21.7,0.1	c-5.8,0.2-9.5,3.6-9.8,8.5c-0.3,5.1,2.4,9.3,7.8,9.4c11.8,0.3,23.8,0.9,35.3-0.9c12.8-2,20.2-13.9,20.2-28.6 c0.1-42.1,0.1-84.1,0-126.2v-6.2c14.3-2.3,17-5.4,18.2-19.7c0.1-1.4,1.7-3.2,3.1-3.9c4.3-2.1,8.9-3.4,13.1-5.6 c3.5-1.8,5.6-1.7,8.5,1.3c7.5,7.7,16,7.6,23.7,0.1c5.3-5.2,10.6-10.4,15.7-15.8c6.4-6.9,6.4-14.9,0-21.7c-1.4-1.3-3-2.4-4.7-3.4	c2.7-6.4,5.2-11.3,6.8-16.5c1.3-4.3,3.2-6.3,8-6c5.8,0.3,11.8-1.7,13.6-7.3C568.2,263.1,568.2,249.2,564,236.3z M141.1,319.6 c-34.7,0.1-63.5-28.7-63.5-63.4c0-34.7,28.7-63.4,63.4-63.5s63.4,28.6,63.5,63.4C204.6,290.9,175.8,319.5,141.1,319.6z M448.7,320	c-34.8-0.1-63.7-29-63.7-63.8c0-35,29.2-64,64.2-63.8c34.8,0.2,63.5,29.2,63.4,64S483.5,320.1,448.7,320z"/>
        	<path d="M457.6,256.3c0,4.8-3.9,8.6-8.7,8.6c-0.2,0-0.4,0-0.5,0c-4.7-0.1-8.4-3.9-8.4-8.6c0-0.1,0-0.2,0-0.4	c0.1-4.9,4.1-8.7,8.9-8.6C453.8,247.4,457.7,251.4,457.6,256.3L457.6,256.3z"/>
        </svg>
      </div>
      <div class="sticker-txt">
        <h3>Augmentation de la productivité</h3>
        <p>Augmente la productivité de 6 à 9%</p>
        <p>Diminue l'absentéisme de 30 à 40%</p>
        <p>Réduit de 40% les accidents du travail</p>
      </div>
    </div>
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45"  />
        </svg>
        <svg class="icon icon-svg" viewBox="0 -100 600 1000">
          <path class="st1" d="M205.6,212.1c10.4,0,20.8,0,31.2,0c1.9,0,2.6,0.4,2.6,2.1c0,6.7,0.1,6.7-7.8,6.7c-19,0-38.1,0-57.1,0
      			c-2.3,0-3.3-0.4-3-2.5c0.3-2-1-4.6,0.5-5.9c1.5-1.3,4.6-0.4,7-0.4C187.9,212.1,196.7,212.1,205.6,212.1z"/>
      		<path class="st1" d="M205.4,238.4c-10.4,0-20.8,0-31.2,0c-2.1,0-3-0.3-2.7-2.2c0.3-2.1-1-4.8,0.5-6.2c1.6-1.4,4.8-0.4,7.3-0.4
      			c19,0,38.1,0,57.1-0.1c2.2,0,3,0.3,3,2.4c-0.1,6.5,0,6.5-7.8,6.5C222.9,238.4,214.1,238.4,205.4,238.4z"/>
      		<path class="st1" d="M195.2,247.2c6.8,0,13.6,0.1,20.5,0c2,0,2.8,0.3,2.8,2.2c0,6.6,0.1,6.6-7.9,6.6c-12.1,0-24.2,0-36.3,0
      			c-2,0-3-0.3-2.8-2.2c0.3-2.1-1-4.9,0.5-6.2c1.5-1.4,4.8-0.4,7.3-0.4C184.6,247.1,189.9,247.2,195.2,247.2z"/>
      		<path class="st1" d="M195,264.7c7,0,14.1,0.1,21.1,0c1.9,0,2.4,0.4,2.4,2c0.1,6.8,0.1,6.8-8,6.8c-12,0-24-0.1-36,0.1
      			c-2.5,0-3-0.6-3-2.6c0.1-6.3,0-6.3,7.3-6.3C184.2,264.7,189.6,264.7,195,264.7z"/>
      		<path class="st1" d="M442.7,274.7c0-4.4-1.7-5.7-7-5.7c-10.7,0-21.4,0-32.1,0c-6.4,0-7.7,1.2-7.7,6.4c0,24.9,0,49.7,0,74.6
      			c0,25,0,69.1,0,94.1c0,4.4,1.7,5.9,6.9,5.9c11,0,22,0,33,0c5.3,0,7-1.4,7-5.8C442.7,394.1,442.7,324.9,442.7,274.7z"/>
      		<path class="st1" d="M378.8,330.3c-11.2,0-22.4,0-33.6,0c-5.1,0-6.7,1.4-6.7,5.7c0,14.9,0,29.7,0,44.6c0,14.8,0,48.6,0,63.4
      			c0,4.6,1.6,6,7,6c11,0,22,0,33,0c5.1,0,6.9-1.4,6.9-5.6c0-29.8,0-78.7,0-108.5C385.4,331.8,383.7,330.3,378.8,330.3z"/>
      		<path class="st1" d="M321.5,360.9c-11.3,0-22.6,0-33.9,0c-4.7,0-6.5,1.5-6.5,5.4c0,9.8,0,19.6,0,29.5c0,9.9,0,38.9,0,48.8
      			c0,3.9,1.8,5.4,6.5,5.4c11.3,0,22.6,0,33.9,0c4.6,0,6.6-1.6,6.6-5.4c0-19.7,0-58.5,0-78.2C328,362.5,326.1,360.9,321.5,360.9z"/>
      		<path class="st1" d="M270.6,388.4c0-4.1-1.8-5.6-6.6-5.6c-11.3,0-22.6,0-33.9,0c-4.7,0-6.5,1.5-6.5,5.4c0,6.1,0,12.3,0,18.4
      			c0,6.1,0,31.3,0,37.5c0,4.4,1.7,5.9,6.9,5.9c11.1,0,22.2,0,33.3,0c5,0,6.9-1.5,6.9-5.7C270.7,432,270.7,400.7,270.6,388.4z"/>
      		<path class="st1" d="M213.2,401.2c0-3.6-1.8-5.2-6.1-5.2c-5.8,0-11.6,0-17.4,0c-5.7,0-11.4,0-17.1,0c-4.5,0-6.4,1.6-6.4,5.2
      			c0,8.1,0,35.3,0,43.4c0,3.7,1.9,5.4,6.3,5.4c11.5,0,23,0,34.5,0c4.2,0,6.2-1.7,6.2-5.2C213.2,436.6,213.2,409.4,213.2,401.2z"/>
      		<path class="st1" d="M392.3,206.7c1.3,1.1,2.1,2.6,2.7,4.2c3.8,11.1,7.7,22.1,11.6,33.2c0.7,1.9,0.7,3.5-0.7,5
      			c-1.2,1.3-2.7,1.5-4.3,1c-1.7-0.5-2.4-1.8-3-3.3c-2.6-7.6-5.3-15.2-8-22.7c-0.2-0.7-0.5-1.4-0.9-2.5c-2.7,5.4-5.3,10.4-7.8,15.5
      			c-17.9,36.6-43.5,66.7-77,89.8c-35.4,24.5-74.7,38.1-117.7,41c-7.5,0.5-15.1,0.5-22.6,0.4c-1.5,0-2-0.5-1.8-2c0.2-2-0.5-4.6,0.5-6
      			c1.1-1.5,3.8-0.4,5.8-0.4c50.1,0.3,95.6-14.1,136.1-43.6c30-21.9,52.9-49.8,69.3-83.1c2.4-4.9,4.9-9.8,7.5-15.1
      			c-3.6,1.2-6.9,2.4-10.1,3.5c-4.7,1.6-9.4,3.3-14.2,5c-3.5,1.2-5.9,0.4-6.8-2.2c-0.8-2.5,0.6-4.5,3.9-5.7
      			c10.9-3.8,21.8-7.6,32.7-11.5c0.6-0.2,1.4-0.2,1.9-0.9C390.3,206.4,391.3,206.5,392.3,206.7z"/>
      		<path class="st1" d="M92.8,332.4c0,42.3-0.1,84.6,0.1,126.9c0,4.4-0.3,6.6-5.8,6.4c-8.8-0.3-16.6,5.7-18.2,14.4
      			c-2,10.8-2,22,0,32.7c1.9,9.8,9.8,14.7,21.4,14.7c40.1,0.1,80.1,0,120.2,0.1c1.9,0,4-0.7,6,0.7c-0.5,1.3-1,2.5-1.5,3.6
      			c-23.8,53.4-47.7,106.8-71.5,160.2c-4.4,9.8-1,14.9,9.8,15c12.7,0,25.4-0.3,38,0.1c6.9,0.2,10.5-2.5,13.2-8.6
      			c19.6-44.3,39.4-88.6,59.2-132.8c0.7-1.5,0.9-3.5,3.2-4.8c0,2.3,0,4.1,0,5.9c0,43.1,0,86.1,0,129.2c0,8.4,2.7,11.1,11,11.1
      			c13,0,26.1,0,39.1,0c9.4,0,11.8-2.5,11.8-11.9c0-42.9,0-85.7,0-128.6c0-1.7,0-3.5,0-5.7c2.3,1.6,2.6,3.6,3.3,5.2
      			c19.8,44.2,39.6,88.5,59.2,132.8c2.6,5.9,6.2,8.5,12.8,8.3c12.7-0.4,25.3-0.1,38-0.1c11.2,0,14.5-5,10-15.2
      			c-23.5-52.6-46.9-105.1-70.4-157.7c-0.9-2.1-2.5-4-2.2-6.7c15.3,0,30.4,0,45.5,0l84.7-0.3c10.3-0.6,17.7-8.9,17.9-19.3
      			c0.1-7.6,0.2-15.3,0-22.9c-0.2-11-8.5-19.4-19.6-19.4c-4.1,0-5.2-0.9-5.2-5.2c0.1-86.3,0.1-172.6,0-258.9c0-3.8,0.8-4.9,4.8-5.1
      			c12.5-0.4,20-8.6,20-21.3c0-5.4-0.3-10.8,0.1-16.2c0.9-12.2-4.1-20.4-15.7-24.5c-108.9,0-217.7,0-326.6,0h-33.6
      			c-22.7,0-45.5,0-68.2,0c-11.6,4.1-16.6,12.3-15.7,24.5c0.4,5.4,0,10.8,0.1,16.2c0.1,12.7,7.5,20.9,20,21.3c4,0.1,4.8,1.2,4.8,5
      			c-0.2,27.8-0.1,55.5-0.1,83.3L92.8,332.4z M109.7,284.2c0-27.2,0.1-54.4-0.1-81.6c0-4.5,1-5.9,5.8-5.9
      			c121.7,0.1,243.4,0.1,365.1,0c4.3,0,5.6,1,5.6,5.5c-0.1,86.1-0.1,172.2,0,258.3c0,4.3-1.2,5.2-5.3,5.2
      			c-121.9-0.1-243.8-0.1-365.7,0c-4.5,0-5.5-1.2-5.5-5.5c0.2-42.3,0.1-84.6,0.1-126.9L109.7,284.2z"/>
        </svg>
      </div>

      <div class="sticker-txt">
        <h3>4 à 14% net de Rentabilité</h3>
        <p>Le sport en entreprise à un impact direct sur l'augmentation de la rentabilité</p>
      </div>
    </div>
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45"  />
        </svg>
        <svg class="icon icon-svg" id="Employee" viewBox="0 -50 600 1000">
          <path class="cls-1" d="M307.23,71.06a81.62,81.62,0,1,0,81.61,81.62A81.61,81.61,0,0,0,307.23,71.06Zm0,125.18a43.56,43.56,0,1,1,43.56-43.56A43.56,43.56,0,0,1,307.23,196.24Z"/>
          <path class="cls-1" d="M256.83,264.83c9.89,1.07,18,8.07,18,18a18,18,0,0,1-18,18s-29-6.61-44.4,18c-12.85,20.53-34.38,218.3-34.38,218.3a18,18,0,1,1-36.05,0s20.7-195.1,24.37-207S186.56,264.27,256.83,264.83Z"/>
          <path class="cls-1" d="M357.63,264.83c-9.94.37-18,8.07-18,18a18,18,0,0,0,18,18s21.2-6.51,35.22,24S405.37,367,405.37,519.19h-22a18,18,0,0,0-18,18V744.83a18,18,0,1,1-36.05,0l-4-207.62a18,18,0,0,0-36.05,0l-2.67,207.62a18,18,0,1,1-36,0l-1.75-207.62a18,18,0,0,0-36,0V744.83a52.74,52.74,0,0,0,52.74,52.74c17,0,32.17-4,41.81-16.52,9.64,12.53,24.78,16.52,41.81,16.52a52.74,52.74,0,0,0,52.74-52.74V555.24h31.61a18,18,0,0,0,18-18V382.33s4.67-81.45-44.73-110.49C386.67,264.83,366.65,264.5,357.63,264.83Z"/>
          <path class="cls-1" d="M142,692.09a18,18,0,1,0,36.05,0V600.63a18,18,0,0,0-36.05,0Z"/>
          <path class="cls-1" d="M325.38,410.78a17.15,17.15,0,1,1-34.3,0l10.27-89.62a6.89,6.89,0,0,1,13.77,0Z"/>
        </svg>
      </div>
      <div class="sticker-txt">
        <h3>Pour l'entreprise</h3>
        <p>Réduit de 40% les accidents du travail</p>
        <p>Diminue l'absentéisme de 30 à 40%</p>
      </div>
    </div>
    <div class="sticker">
      <div class="sticker-icon">
        <svg class="icon icon-svg-circle" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="45"  />
        </svg>
        <svg class="icon icon-svg" viewBox="0 0 595.28 841.89">
          <path class="cls-1" d="M111.28,270.2c.1,2.05.25,3.62.26,5.19,0,5.64-.29,11.31.15,16.92.22,2.68,1.16,6.08,3,7.64s5.89,2.23,7.79,1.18a10.81,10.81,0,0,0,4.82-7.37c.63-7.64.22-15.37.22-23.56H147.3c8.47,0,12.31-2.59,12.2-8.21-.11-5.44-3.92-8-12.06-8-6.53,0-13.06,0-19.91,0,0-8.51.13-16.23,0-24a7.79,7.79,0,0,0-15.53-.91,48.25,48.25,0,0,0-.38,7.22c0,5.73,0,11.47,0,17.64h-5.92c-5.65,0-11.3-.17-16.93.06-6.4.26-10,4.56-8.59,10,1.13,4.5,4.5,6,8.74,6.06C96.23,270.24,103.6,270.2,111.28,270.2Zm392.17,71.89c0-6,.49-11.34-.21-16.53-.33-2.4-2.57-5.52-4.72-6.41a9.05,9.05,0,0,0-7.83,1.27c-1.84,1.57-2.61,5-2.88,7.67-.45,4.54-.12,9.16-.12,14-5.22,0-9.56,0-13.9,0-6.34.07-10,3-10,8s3.59,8.06,9.88,8.16c4.48.08,8.95,0,13.15,0,.42.79.69,1.07.69,1.35.08,4.35.06,8.7.2,13,.19,6,3.17,9.41,8.08,9.32s7.68-3.49,7.77-9.6c.07-4.61,0-9.22,0-14.12,5.43,0,10.1.11,14.76,0,5.74-.17,9.41-3.58,9.24-8.35-.16-4.61-3.71-7.66-9.3-7.79C513.62,342,509,342.09,503.45,342.09Z"/>
          <path class="cls-1" d="M344.58,646.18c-12.08-1.93-24.33-3.12-36.21-5.89-52.4-12.23-94.91-40-127.56-82.78a203,203,0,0,1-28.37-50.42c-1.56-4.06-3.73-5.07-7.84-5-22.93.2-45.86.1-68.78.09-10.13,0-12.13-2-12.14-12.22q0-20.58,0-41.17c0-7.91,2.8-10.69,10.84-10.7q27.85,0,55.71,0h5.62V406.1h-5.34q-27.86,0-55.7,0c-8.82,0-11.13-2.38-11.13-11.23q0-20.6,0-41.18c0-9.23,2.42-11.6,11.85-11.6,23.42,0,46.83-.08,70.24.08,3.45,0,5-1.06,6.31-4.25,18.4-45.42,48.38-81.19,90.1-106.91a212.82,212.82,0,0,1,92.09-31.35c58.6-5.7,110.46,11.42,156.72,47,5.94,4.57,6.21,9.21.84,14.61q-26.47,26.6-53.08,53.09c-4.78,4.76-7.73,4.86-14.14.83-25.56-16.07-53.16-23.6-83.43-19.82a125,125,0,0,0-82.11,46.72h5.1q22.27,0,44.56,0c8.08,0,10.79,2.66,10.82,10.67q.07,21.56,0,43.11c0,7.65-2.55,10.19-10.2,10.2-23.73.06-47.47,0-71.2,0h-6.44v31.95h5.92q35.37,0,70.72,0c8.46,0,11.18,2.61,11.2,10.83q.07,21.31,0,42.62c0,8.17-2.48,10.61-10.77,10.64-14.53.05-29.06,0-43.59,0h-5.14l-.81,1.48c6.67,6.4,12.9,13.35,20.09,19.1C301.9,540.79,328,550,356.75,550c23.17,0,44.82-6.72,64.65-18.88,1.79-1.1,3.58-2.2,5.34-3.34,3.76-2.42,7.38-2.07,10.69.77,18.29,15.63,36.59,31.23,54.75,47,4.81,4.17,4.73,9.47-.17,13.29-28.29,22-58.22,41.19-93.07,51.2-8.47,2.43-17.34,3.45-26,5.16a30,30,0,0,0-3.15,1Z"/>
          <path class="cls-1" d="M559.65,192.79c-2.76,4.47-6.88,5.76-11.92,5.58-6.44-.22-12.89-.05-20.1-.05v17.89c0,1.61,0,3.22,0,4.83-.17,5.32-3,8.74-7.49,9.06s-8.26-3.18-8.53-8.56c-.3-6-.08-11.93-.12-17.9,0-1.57-.13-3.14-.23-5.32-4.54,0-8.84,0-13.14,0-3.38,0-6.79.18-10.15-.13-5.12-.45-8.46-4-8.26-8.34.2-4.48,3.65-7.56,8.9-7.64,7.39-.1,14.78,0,22.89,0,0-6.87,0-13.41,0-19.94,0-8,2.7-11.94,8.08-12s8,3.76,8.06,11.85q0,9.18,0,18.37a13.56,13.56,0,0,0,.3,1.71c6.37,0,12.92.25,19.43-.08,5-.25,9.14.79,12.25,4.87Z"/>
          <path class="cls-1" d="M111.28,270.2c-7.68,0-15,0-22.43,0-4.24,0-7.61-1.56-8.74-6.06-1.39-5.49,2.19-9.79,8.59-10,5.63-.23,11.28-.06,16.93-.06h5.92c0-6.17,0-11.91,0-17.64a48.25,48.25,0,0,1,.38-7.22,7.79,7.79,0,0,1,15.53.91c.18,7.72,0,15.44,0,24,6.85,0,13.38,0,19.91,0,8.14,0,11.95,2.53,12.06,8,.11,5.62-3.73,8.21-12.2,8.21H127.55c0,8.19.41,15.92-.22,23.56a10.81,10.81,0,0,1-4.82,7.37c-1.9,1.05-6,.32-7.79-1.18s-2.81-5-3-7.64c-.44-5.61-.12-11.28-.15-16.92C111.53,273.82,111.38,272.25,111.28,270.2Z"/>
          <path class="cls-1" d="M503.45,342.09c5.51,0,10.17-.08,14.82,0,5.59.13,9.14,3.18,9.3,7.79.17,4.77-3.5,8.18-9.24,8.35-4.66.14-9.33,0-14.76,0,0,4.9.06,9.51,0,14.12-.09,6.11-2.9,9.52-7.77,9.6s-7.89-3.29-8.08-9.32c-.14-4.34-.12-8.69-.2-13,0-.28-.27-.56-.69-1.35-4.2,0-8.67.06-13.15,0-6.29-.1-9.91-3.15-9.88-8.16s3.66-7.94,10-8c4.34-.05,8.68,0,13.9,0,0-4.84-.33-9.46.12-14,.27-2.69,1-6.1,2.88-7.67a9.05,9.05,0,0,1,7.83-1.27c2.15.89,4.39,4,4.72,6.41C503.94,330.75,503.45,336.11,503.45,342.09Z"/>
        </svg>
      </div>
      <div class="sticker-txt">
        <h3>Un gain financier</h3>
        <p>Pour l'employé Economise 30 à 34 euros sur le budget de santé</p>
        <p>Pour la société civile c'est 308 à 348€ d'économie sur les dépenses de santé par personne / an</p>
      </div>
    </div>
  </div>
  <p class="sources">* Source: Mesure de l'impact du sport en entreprise CNOSF, MEDEF, AG2R.</p>
</div>
