<div class="sticker-ctn">
  <div class="sticker-icon">
    <app-svg-circle />
    @if (isBienEtre()) {
      <app-svg-bien-etre />
    }
    @if (isProductivite()) {
      <app-svg-productivite />
    }
    @if (isRentabilite()) {
      <app-svg-rentabilite />
    }
    @if (isEntreprise()) {
      <app-svg-entreprise />
    }
    @if (isFinancier()) {
      <app-svg-financier />
    }
    @if (isOneHour()) {
      <app-svg-one-hour />
    }
    @if (isMateriel()) {
      <app-svg-materiel />
    }
    @if (isDeplacement()) {
      <app-svg-deplacement />
    }
    @if (isWater()) {
      <app-svg-water />
    }
    @if (isFormation()) {
      <app-svg-formation />
    }
    @if (isSuivi()) {
      <app-svg-suivi />
    }
    @if (isAdaptation()) {
      <app-svg-cycles />
    }
  </div>
  <div class="sticker-txt">
    <h4>{{sticker().title}}</h4>
    @for (txt of  sticker().lstTxt; track txt) {
      <div>
        <p>{{txt}}</p>
      </div>
    }
  </div>
</div>