@import "../scss/commun-style.scss";
/**------------------------------------------ header -------------------------------------------------**/
/* Style to apply to body if the menu is open to forbid the scroll
 * while menu is open
 */
.cant-scroll{
  margin: 0;
  height: 100%;
  overflow: hidden
}

.header{
  z-index: 1;
  .top-header{
    display: none;
  }
  .bottom-header{
    z-index: 2;
    position: relative;
    background-color: $header-bkg-color;
    height: $header-bottom-height;
    display: flex;
    flex-wrap: wrap;
    &.fixed-nav{
      position: fixed;
      top: 0;
    }
  }
  .bottom-header-logo{
    width: 100%;
    max-height: $header-bottom-height;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    .menu-img{
      width: 70%;
      img{
        height: $header-bottom-height;
        width: auto;
      }
    }
    .menu-burger{
      width: 30%;
    }
  }

  .nav{
    position: fixed;
    width: 100%;
    height: $nav-height;
    top: $header-bottom-height;
    background-color: $header-bkg-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform $animation-duration;
    border-top: 1px solid $header-txt-hover-color;
    border-bottom: 1px solid $header-txt-hover-color;

    &.is-opened{
      transform: translateX(0);
    }
    &.is-closed{
      transform: translateX(100%);
    }

    .nav-item{
      display: block;
      padding: 5px 0;
      font-family: "Montserrat-Medium", sans-serif;
      color: $header-txt-color;
      font-size: $header-txt-size;
      transition: color $animation-duration;
      opacity: 0;
      margin: auto;

      &:hover, &.active{
        color: $header-txt-hover-color;
        cursor: pointer;
      }
    }
  }

  .menu-icon{
    position: relative;
    margin: auto;
    width: 50px;
    height: 100%;
    cursor: pointer;

    transition: transform $animation-duration;

    span{
      position: absolute;
      top: 50%;
      bottom: 50%;

      display: block;
      width: 25px;
      height: 2px;

      background-color: $header-txt-hover-color;
      transform: translateX(50%) translateY(-50%);
      transition: background .5s;

      &::before, &::after{
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 25px;
        height: 2px;

        background-color: $header-txt-hover-color;

        transform: translateY(-6px);
        transition: transform $animation-duration;
      }
      &::after{
        transform: translateY(6px);
      }
    }
    &:hover{
      span::before{
        transform: translateY(-8px);
      }
      span::after{
        transform: translateY(8px);
      }
    }

    span::before, span::after{
      transform-origin: 50% 50%;
    }
    &.is-opened{
      transform: rotate(180deg);
      span{
        background: transparent;
        &::before{
          transform: translateY(0) rotate(45deg);
        }
        &::after{
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }
}
.container{
  position: relative;
  z-index: 1;
}

.translatedMenu-enter-active{
  animation: translateIn $animation-duration;
}
.translatedMenu-leave-active{
  animation: translateIn $animation-duration reverse;
}
@keyframes translateIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
//Animation of the responsive menu
@keyframes navLinkFadeIn{
  from{
    opacity: 0;
    transform: translateX(150px);
  }
  to{
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes navLinkFadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity:0;
  }
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(150px);
  }
  to{
    opacity:1;
    transform: translateX(0);
  }
}

/* ---------------------- Media query ----------------------------*/
@media only screen and ( min-width:650px){
  .header{
    .top-header{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: space;

      .top-header-img{
        width: auto;
        max-height: $header-top-height;
        padding: 10px;
        .img{
          width: auto;
          max-height: $header-top-height;
        }
      }
      .phone{
        padding: 20px 0 10px;
        h1, h2{
          font-size: $base-size-xl;
        }
      }
    }

    .bottom-header{
      height: $header-bottom-height;

      .bottom-header-logo{
        display: none;
      }
      .nav{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px 0;
        height: $header-bottom-height;
        top: 0;

        &.is-opened, &.is-closed{
          transform: translateX(0);
        }

        .nav-item{
          opacity: 1;
          font-size: $header-txt-size;
          margin: 0 10px;
        }

        &.fixed-nav{
          position: fixed;
          top: 0;
        }
      }
    }
  }
}
@media only screen and ( min-width:895px){
  .header{
    .bottom-header{
      .nav{
        .nav-item{
          margin: 0 30px;
        }
      }
    }
  }
}
