.section-spp{
  .section-container{
    .container-flex{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      width: 100%;
      margin-top: 50px;

      .vignette{
        @include vignette(
          $width: $spp-vignette-width,
          $h2-color: $spp-vignette-h2-color,
          $h2-shade-color: $spp-vignette-h2-color,
          $txt-color: $spp-vignette-txt-color,
          $m-top-bottom: $spp-vignette-m-top-bottom);
      }
      @each $category in $spp-categories{
        .spp-elt-#{$category}{
          background-image: url($spp-img-path + "Go2Sport-photo-spp-#{$category}.jpg");
        }
      }
    }
  }
}
