.footer.section{
  border-top: 1px solid $footer-border-color;
  border-bottom: 1px solid $footer-border-color;
  padding-top: $footer-padding-t;
  padding-left: 10px;
  padding-right: 10px;

  .footer-item{
    display: block;
    margin-bottom: 40px;
    .footer-img{
      position: relative;
      left: 10%;
      width: 80%;
    }
    h2{
      color: $footer-title-color;
    }
    .contact-info{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      .icon{
        width: 30px;
        @include svg($color: $footer-txt-color)
      }
      p{
        font-size: $base-size-s;
        margin-left: 10px;
        margin-bottom: 0px;
        color: $footer-txt-color;
        text-align: center;
      }
    }
    .social-icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      li{
        margin-right: 10px;
      }
    }
  }
  .footer-bottom{
    .copyright{
      color: $footer-txt-color;
      font-size: $base-size-s;
      font-style: italic;
    }
  }
}
/* ---------------------- Media query ----------------------------*/
@media only screen and ( min-width:450px){
  .footer.section{
    .footer-item{
      h2{
        font-size: $base-size-l;
      }
      .contact-info{
        p{
          font-size: $base-size-m;
        }
      }
      &.image{
        .footer-img{
          left: 50%;
          transform: translateX(-50%);
          max-width: 350px;
        }
      }
    }
  }
}

@media only screen and ( min-width:800px){
  .footer.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .footer-item{
      width: 25%;
      margin: 10px;
    }
    .footer-bottom{
      width: 100%;
      .copyright{
        text-align: right;
        margin-right: 20px;
      }
    }
  }
}
