<Footer class="section footer dark-background">
  <div class="footer-item image">
    <img class="footer-img" src="../../assets/img/logos/Go2Sport_Logo-medium-bg-black.png" alt="logo Go2Sport">
  </div>
  <div class="footer-item">
    <h2>Contactez-nous</h2>
    <div class="contact-info phone">
      <svg class="icon icon-svg contact-logo" viewBox="0 0 283.46 283.46">
        <path d="M51.47,95.19c.72-3.2,1.28-6.43,2.19-9.57a18.13,18.13,0,0,1,4.63-7.83c.51.49.94.88,1.35,1.29Q79.7,99.15,99.78,119.19a2.69,2.69,0,0,1,.83,3c-2,7.11-.72,13.61,4.19,19.23a392.6,392.6,0,0,0,37.07,37.14c5.65,5,12.21,6.16,19.39,4.19.93-.25,1.64-.46,2.5.41q20.63,20.75,41.33,41.41c.12.12.22.27.44.54a19.27,19.27,0,0,1-7.84,4.7c-6.15,2.15-12.51,2.45-18.94,1.93-16.95-1.35-31.93-8-45.86-17.32a232.53,232.53,0,0,1-64.08-64.38c-7.34-10.94-13-22.65-15.65-35.68-.59-2.92-.9-5.9-1.35-8.86-.08-.51-.22-1-.34-1.53Z"/>
        <path d="M88.83,51.47a51.33,51.33,0,0,1,4.74,3.78Q108.32,69.88,123,84.62c4.06,4.07,4.13,7.37.05,11.32-5.06,4.89-10.23,9.67-15.18,14.35L66.57,69.08c.79-.7,1.83-1.55,2.78-2.49,3.92-3.89,7.76-7.85,11.74-11.68a44.73,44.73,0,0,1,4.57-3.44Z"/><path d="M214,216.72l-41.07-41c3.8-4.08,7.65-8.25,11.54-12.39,1.2-1.28,2.46-2.52,3.74-3.73,3.05-2.9,6.73-3,9.7,0q16,15.9,31.86,31.89c2.8,2.81,3,6.34.35,9.11C224.81,206.08,219.34,211.39,214,216.72Z"/>
      </svg>
      <p>06 63 43 42 80</p>
    </div>
    <div class=" contact-info email">
      <svg class="icon icon-svg contact-logo" viewBox="0 0 283.46 283.46">
        <path class="cls-1" d="M249.45,206.11Q228.14,188,206.82,170l-29.63-25.18-2.14-1.84,74.4-64.74Z"/>
        <path class="cls-1" d="M34,78.62a4.94,4.94,0,0,1,1.07.56l72.34,62.89c.26.23.55.42,1.36,1a16.5,16.5,0,0,0-1.84,1.16q-36.3,30.81-72.57,61.64a2.67,2.67,0,0,1-.36.22Z"/>
        <path class="cls-1" d="M244.57,69,141.73,157.16,39,69.09a14.67,14.67,0,0,1,9.61-4.27,22.2,22.2,0,0,1,2.31-.06q90.86,0,181.7,0C237,64.74,241,65.74,244.57,69Z"/>
        <path class="cls-1" d="M38.9,214.44l76.17-65.3,26.66,23.32,26.66-23.32,76.09,65.26a14.57,14.57,0,0,1-9.37,4.23,23.57,23.57,0,0,1-2.52.08q-90.87,0-181.72,0C46.44,218.72,42.44,217.7,38.9,214.44Z"/>
      </svg>
      <p>go2sport29@gmail.com</p>
    </div>
    <div class="contact-info address">
      <svg class="icon icon-svg contact-logo" viewBox="0 0 283.46 283.46">
        <path class="cls-1" d="M149.12,34.63c4.17,1,8.39,1.82,12.51,3,24.89,7.12,40.28,23.94,49.49,47.6,7.3,18.78,5.64,36.87-3.84,53.93-9.86,17.76-21.19,34.69-31.69,52.09-8.42,14-16.56,28.08-24.81,42.13-2.94,5-5.84,10-9,15.46-1-1.49-1.8-2.45-2.43-3.47-19.29-31.65-38.67-63.24-57.81-95-5.89-9.78-11.16-20-12.79-31.54C64.79,91,73.37,67.68,95.41,49.89a68.41,68.41,0,0,1,35.07-14.52,8.32,8.32,0,0,0,1.89-.74Zm-33.58,72c-1.85,15.12,12.08,27.32,25.38,27.06,16.36-.31,29.15-13.29,27.93-29.65-1.06-14.26-14-25.69-28.25-24.92C127.29,79.88,114.39,88.13,115.54,106.67Z"/>
      </svg>
      <div class="text-address">
        <p>28 rue de Kervern</p>
        <p>29190 Pleyben</p>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <h2>Retrouvez nous sur les réseaux sociaux</h2>
    <ul class="social-icons">
      <li><a href="https://www.facebook.com/Go2Sport-102947537742789/" class="fa fa-facebook"></a></li>
      <li><a href="https://www.instagram.com/go2sport29/" class="fa fa-instagram"></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p class="copyright">* Ce site a été développé par Le Bellec Mathieu</p>
  </div>
</Footer>
