$animation-duration: .5s;

/*******************************
 * Colors
 *******************************/

$c-primary: #fdb719;
$c-primary-light: lighten($c-primary,0.7);
$c-primary-dark:  darken($c-primary,0.7);

$c-secundary: #757575;
$c-secundary-light: #FFF;
$c-secundary-dark: #494949;

$c-text-light: $c-secundary-light;
$c-text-dark: $c-secundary-dark;

$c-box-shadow: rgba(0, 0, 0, 0.5);

/*******************************
 * General
 *******************************/
$base-size-s: rem(14);
$base-size-m: rem(16);
$base-size-l: rem(20);
$base-size-xl: rem(30);
$base-size-xxl: rem(40);
$base-size-xxxl: rem(50);

$section-padding-tb: 50px;
$section-padding-lr: 0px;
$section-container-padding-tb: 10px;
$section-container-padding-lr: 10px;

$margin-bottom-h1: 20px;
$margin-bottom-h2: 15px;
$margin-bottom-h3: 10px;

$background-image: "../assets/img/Background.png";
$background-color: $c-primary;

$vignette-border-width: 2px;

/*******************************
 * Header
 *******************************/
$header-bkg-color: $c-secundary-dark;
$header-txt-color: $c-text-light;
$header-txt-hover-color: $c-primary;
$header-txt-size: $base-size-l;
$header-bottom-height: 80px;
$header-top-height: 120px;
$nav-height: 93vh;

/*******************************
 * section-Title
 *******************************/
 $section-height: 160px;
/*******************************
 * section-Go2Sport
 *******************************/
$g2s-sticker-icon-scale: 1.3;
$g2s-sticker-icon-scale-hover: 1.35;

/*******************************
 * section-sport-en-entreprise
 *******************************/
$see-sticker-icon-scale: 1.1;
$see-sticker-icon-scale-hover: 1.03;
// bienfaits
$see-bienfait-txt-size: $base-size-m;
$see-bienfait-icon-size: 100px;

// Activitées
$see-img-nav-path: '../../assets/img/section-see/';
$see-activity:
 fitness, combat, sports-co, sports-raquettes, sports-plein-air;
$see-sport:
 fitness, pilate, step, cardio-training, gym-douce,
 boxe-francaise, judo, gouren, lutte,
 football, handball, basketball, volleyball, rugby, ultimate,
 badminton, tennis-de-table, tennis,
 course-a-pied, course-d-orientation, velo;
$see-img-path: '../../../../assets/img/section-see/';
$see-nav-height: 120px;
$see-nav-border-color: $c-primary;
$see-vignette-h2-color: $c-primary;
$see-vignette-h2-shade-color: $c-secundary-dark;
$see-vignette-txt-color: #FFF;
$see-vignette-txt-size: $base-font-size;
$see-vignette-width: 300px;
$see-vignette-m-top-bottom: 20px;
$see-icon-size: 80px;
$see-scale-up: 1.02;

/*******************************
 * Section-Sport-pour-particuliers
 *******************************/
$spp-categories: public, materiel, people, feel;
$spp-img-path: '../../assets/img/section-spp/';
$spp-vignette-h2-color: $c-primary;
$spp-vignette-h2-shade-color: $c-secundary-dark;
$spp-vignette-txt-color: #FFF;
$spp-vignette-txt-size: $base-font-size;
$spp-vignette-width: 300px;
$spp-vignette-m-top-bottom: 20px;

/*******************************
 * Section-trust
 *******************************/
$slide-width: 300px;
$slide-side-padding: 50px;
$slide-duration: 1s;

/*******************************
 * Footer
 *******************************/
$footer-border-color: $c-primary;
$footer-title-color: $c-primary;
$footer-txt-color: $c-secundary-light;
$footer-txt-size: $base-size-l;
$footer-padding-t: $section-padding-tb;
